<div id="back-to-top" class="tw-fixed tw-bottom-12 tw-right-12 tw-w-12 tw-z-50 tw-h-12 tw-flex tw-justify-center tw-items-center tw-rounded-full tw-bg-vi tw-cursor-pointer hover:tw-scale-95 tw-transition-all">
  <svg t="1689589904053" class="icon tw-text-white tw-w-8 tw-h-8" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2291" width="32" height="32"><path d="M887.328477 617.152318 533.951458 267.007553c-0.512619-0.512619-1.216181-0.672598-1.759763-1.152533-0.127295-0.127295-0.159978-0.319957-0.287273-0.447252-12.576374-12.416396-32.831716-12.352748-45.280796 0.192662L136.511544 618.944765c-12.447359 12.576374-12.352748 32.800753 0.192662 45.248112 6.239161 6.175514 14.399785 9.280473 22.527725 9.280473 8.224271 0 16.479505-3.168606 22.720387-9.471415L509.792985 333.185325l332.480043 329.407768c6.239161 6.175514 14.368821 9.280473 22.527725 9.280473 8.255235 0 16.479505-3.168606 22.720387-9.471415C899.968499 649.85674 899.872168 629.599677 887.328477 617.152318z" fill="#ebebeb" p-id="2292"></path></svg>
</div>

<script>
  $(document).ready(function() {
    $('#back-to-top').click(function() {
      $('html, body').animate({ scrollTop: 0 }, 'slow');
      return false;
    });
  });
</script>
