<div class="pro_acc">
  <div class="page-width">
    <div class="pacc_info">
      <div class="pacc_left">
        <div class="pacc_text">
          <h2>Product Description</h2>
          {{ product.description }}
        </div>
      </div>
      <div class="pacc_right">
        <div class="pacc_text">
          <h2>Specification Parameters</h2>
          {{ section.settings.text }}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Accessory content",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Content"
      }
    ]
  }
{% endschema %}