<div class="page-width">
  <div class="p_nav">
    <ul>
      <li class="active">
        <a href="#overview">Overview</a>
      </li>
      <li>
        <a href="#specifications">Specs & Size</a>
      </li>
      <li>
        <a href="#judgeme_product_reviews">Reviews</a>
      </li>
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "Product Nav",
    "class": "nav_fixed",
    "settings": [
      
    ]
  }
{% endschema %}