[tag-name='blog-recommend'] .flickity-button {
  top: 25%;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(68 64 60 / var(--tw-text-opacity))
}

[tag-name='blog-recommend'] .flickity-previous {
  left: 0px
}

@media (min-width: 768px) {
  [tag-name='blog-recommend'] .flickity-previous {
    left: -1rem
  }
}

[tag-name='blog-recommend'] .flickity-next {
  right: 0px
}

@media (min-width: 768px) {
  [tag-name='blog-recommend'] .flickity-next {
    right: -1rem
  }
}

[tag-name='blog-recommend'] .flickity-button-icon {
  left: 0px;
  top: 0px;
  height: 2rem;
  width: 2rem
}

.switch_tabs .item-tab.active {
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.waterfall-section .tw-flex:first-child .item .item-content b {
  white-space: nowrap;
  font-size: 3.15vw;
  line-height: 1.25
}

.waterfall-section .tw-flex:first-child .item .item-content span {
  white-space: nowrap;
  font-size: 1.575vw;
  --tw-text-opacity: 1;
  color: rgb(87 83 78 / var(--tw-text-opacity))
}

.waterfall-section .tw-flex:nth-child(2) .item .item-content b {
  margin-bottom: 0px;
  white-space: nowrap;
  font-size: 2.35vw;
  line-height: 1.25
}

.waterfall-section .tw-flex:nth-child(2) .item .item-content span {
  white-space: nowrap;
  font-size: 1.25vw;
  --tw-text-opacity: 1;
  color: rgb(87 83 78 / var(--tw-text-opacity))
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-bottom-0 {
  bottom: 0px
}

.tw-bottom-12 {
  bottom: 3rem
}

.tw-left-1\/2 {
  left: 50%
}

.tw-top-1\/3 {
  top: 33.333333%
}

.tw-top-24 {
  top: 6rem
}

.tw-z-10 {
  z-index: 10
}

.tw-m-0 {
  margin: 0px
}

.tw-m-2 {
  margin: 0.5rem
}

.-tw-my-8 {
  margin-top: -2rem;
  margin-bottom: -2rem
}

.tw-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.tw-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.tw-mb-0 {
  margin-bottom: 0px
}

.tw-mb-12 {
  margin-bottom: 3rem
}

.tw-mb-16 {
  margin-bottom: 4rem
}

.tw-mb-2 {
  margin-bottom: 0.5rem
}

.tw-mb-4 {
  margin-bottom: 1rem
}

.tw-mb-6 {
  margin-bottom: 1.5rem
}

.tw-mb-8 {
  margin-bottom: 2rem
}

.tw-mr-4 {
  margin-right: 1rem
}

.tw-mt-16 {
  margin-top: 4rem
}

.tw-mt-4 {
  margin-top: 1rem
}

.tw-line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

.tw-line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3
}

.tw-block {
  display: block
}

.tw-flex {
  display: flex
}

.tw-hidden {
  display: none
}

.tw-h-1\/2 {
  height: 50%
}

.tw-h-\[5vw\] {
  height: 5vw
}

.tw-h-\[6\.5vw\] {
  height: 6.5vw
}

.tw-h-auto {
  height: auto
}

.tw-h-full {
  height: 100%
}

.tw-h-\[4em\] {
  height: 4em
}

.tw-h-\[8em\] {
  height: 8em
}

.tw-w-1\/2 {
  width: 50%
}

.tw-w-1\/3 {
  width: 33.333333%
}

.tw-w-10 {
  width: 2.5rem
}

.tw-w-full {
  width: 100%
}

.tw-max-w-\[1680px\] {
  max-width: 1680px
}

.tw-max-w-\[60\%\] {
  max-width: 60%
}

.tw-flex-1 {
  flex: 1 1 0%
}

.-tw-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-cursor-pointer {
  cursor: pointer
}

.tw-flex-col {
  flex-direction: column
}

.tw-flex-wrap {
  flex-wrap: wrap
}

.tw-items-center {
  align-items: center
}

.tw-justify-center {
  justify-content: center
}

.tw-justify-between {
  justify-content: space-between
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-rounded-xl {
  border-radius: 0.75rem
}

.tw-border {
  border-width: 1px
}

.tw-border-0 {
  border-width: 0px
}

.tw-border-2 {
  border-width: 2px
}

.tw-border-y {
  border-top-width: 1px;
  border-bottom-width: 1px
}

.tw-border-solid {
  border-style: solid
}

.\!tw-border-stone-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(87 83 78 / var(--tw-border-opacity)) !important
}

.tw-border-stone-300 {
  --tw-border-opacity: 1;
  border-color: rgb(214 211 209 / var(--tw-border-opacity))
}

.tw-border-stone-400 {
  --tw-border-opacity: 1;
  border-color: rgb(168 162 158 / var(--tw-border-opacity))
}

.tw-border-y-slate-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(226 232 240 / var(--tw-border-opacity));
  border-bottom-color: rgb(226 232 240 / var(--tw-border-opacity))
}

.tw-bg-\[\#FAF9F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 249 245 / var(--tw-bg-opacity))
}

.tw-bg-stone-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244 / var(--tw-bg-opacity))
}

.tw-bg-stone-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(231 229 228 / var(--tw-bg-opacity))
}

.tw-bg-stone-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(87 83 78 / var(--tw-bg-opacity))
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.tw-p-2 {
  padding: 0.5rem
}

.tw-p-4 {
  padding: 1rem
}

.tw-px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.tw-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.tw-px-12 {
  padding-left: 3rem;
  padding-right: 3rem
}

.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.tw-px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.tw-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.tw-pb-0 {
  padding-bottom: 0px
}

.tw-pb-10 {
  padding-bottom: 2.5rem
}

.tw-pb-12 {
  padding-bottom: 3rem
}

.tw-pb-2 {
  padding-bottom: 0.5rem
}

.tw-pb-3 {
  padding-bottom: 0.75rem
}

.tw-pb-4 {
  padding-bottom: 1rem
}

.tw-pl-10 {
  padding-left: 2.5rem
}

.tw-pl-6 {
  padding-left: 1.5rem
}

.tw-pr-10 {
  padding-right: 2.5rem
}

.tw-pr-8 {
  padding-right: 2rem
}

.tw-pt-0 {
  padding-top: 0px
}

.tw-pt-10 {
  padding-top: 2.5rem
}

.tw-pt-12 {
  padding-top: 3rem
}

.tw-pt-2 {
  padding-top: 0.5rem
}

.tw-pt-3 {
  padding-top: 0.75rem
}

.tw-pt-4 {
  padding-top: 1rem
}

.tw-text-center {
  text-align: center
}

.tw-text-right {
  text-align: right
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.tw-text-5xl {
  font-size: 3rem;
  line-height: 1
}

.tw-text-\[22px\] {
  font-size: 22px
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-font-semibold {
  font-weight: 600
}

.tw-italic {
  font-style: italic
}

.tw-leading-relaxed {
  line-height: 1.625
}

.tw-leading-tight {
  line-height: 1.25
}

.tw-tracking-normal {
  letter-spacing: 0em
}

.\!tw-text-vi {
  --tw-text-opacity: 1 !important;
  color: rgb(252 177 15 / var(--tw-text-opacity)) !important
}

.tw-text-stone-400 {
  --tw-text-opacity: 1;
  color: rgb(168 162 158 / var(--tw-text-opacity))
}

.tw-text-stone-500 {
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity))
}

.tw-text-vi {
  --tw-text-opacity: 1;
  color: rgb(252 177 15 / var(--tw-text-opacity))
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-opacity-0 {
  opacity: 0
}

.tw-grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.tw-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-duration-500 {
  transition-duration: 500ms
}

@media only screen and (max-width:769px) {
  [flickity-screen='pc']:after {
    --tw-content: none;
    content: var(--tw-content)
  }

  [flickity-screen='mobile']:after {
    display: none;
    --tw-content: 'flickity';
    content: var(--tw-content)
  }
}

@media only screen and (min-width:770px) {
  [flickity-screen='pc']:after {
    display: none;
    --tw-content: 'flickity';
    content: var(--tw-content)
  }

  [flickity-screen='mobile']:after {
    --tw-content: none;
    content: var(--tw-content)
  }

  .product-section .page-content--product {
    padding-top: 5rem
  }
}

.before\:tw-absolute::before {
  content: var(--tw-content);
  position: absolute
}

.before\:tw-left-0::before {
  content: var(--tw-content);
  left: 0px
}

.before\:tw-top-full::before {
  content: var(--tw-content);
  top: 100%
}

.before\:tw-h-full::before {
  content: var(--tw-content);
  height: 100%
}

.before\:tw-w-full::before {
  content: var(--tw-content);
  width: 100%
}

.before\:tw-bg-black::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.before\:tw-opacity-60::before {
  content: var(--tw-content);
  opacity: 0.6
}

.before\:tw-transition-all::before {
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.before\:tw-duration-\[0\.3s\]::before {
  content: var(--tw-content);
  transition-duration: 0.3s
}

.before\:tw-content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content)
}

.odd\:tw-pr-1:nth-child(odd) {
  padding-right: 0.25rem
}

.even\:tw-pl-1:nth-child(even) {
  padding-left: 0.25rem
}

.hover\:tw-scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:tw-scale-95:hover {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:tw-border-stone-500:hover {
  --tw-border-opacity: 1;
  border-color: rgb(120 113 108 / var(--tw-border-opacity))
}

.hover\:tw-bg-stone-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244 / var(--tw-bg-opacity))
}

.hover\:tw-text-stone-500:hover {
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity))
}

.hover\:tw-text-vi:hover {
  --tw-text-opacity: 1;
  color: rgb(252 177 15 / var(--tw-text-opacity))
}

.hover\:tw-shadow:hover {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:before\:tw-top-0:hover::before {
  content: var(--tw-content);
  top: 0px
}

.tw-group:hover .group-hover\:tw-opacity-100 {
  opacity: 1
}

@media (min-width: 768px) {
  .md\:tw-m-0 {
    margin: 0px
  }

  .md\:tw-my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px
  }

  .md\:tw-mb-10 {
    margin-bottom: 2.5rem
  }

  .md\:tw-mb-6 {
    margin-bottom: 1.5rem
  }

  .md\:tw-mr-8 {
    margin-right: 2rem
  }

  .md\:tw-line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
  }

  .md\:tw-block {
    display: block
  }

  .md\:tw-hidden {
    display: none
  }

  .md\:tw-w-1\/2 {
    width: 50%
  }

  .md\:tw-w-1\/3 {
    width: 33.333333%
  }

  .md\:tw-flex-row {
    flex-direction: row
  }

  .md\:tw-justify-start {
    justify-content: flex-start
  }

  .md\:tw-rounded-xl {
    border-radius: 0.75rem
  }

  .md\:tw-border {
    border-width: 1px
  }

  .md\:tw-border-solid {
    border-style: solid
  }

  .md\:tw-border-stone-300 {
    --tw-border-opacity: 1;
    border-color: rgb(214 211 209 / var(--tw-border-opacity))
  }

  .md\:tw-bg-\[\#FAF9F5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 249 245 / var(--tw-bg-opacity))
  }

  .md\:tw-bg-transparent {
    background-color: transparent
  }

  .md\:tw-p-4 {
    padding: 1rem
  }

  .md\:tw-p-6 {
    padding: 1.5rem
  }

  .md\:tw-px-0 {
    padding-left: 0px;
    padding-right: 0px
  }

  .md\:tw-px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem
  }

  .md\:tw-px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px
  }

  .md\:tw-py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .md\:tw-pb-12 {
    padding-bottom: 3rem
  }

  .md\:tw-pb-16 {
    padding-bottom: 4rem
  }

  .md\:tw-pb-6 {
    padding-bottom: 1.5rem
  }

  .md\:tw-pr-4 {
    padding-right: 1rem
  }

  .md\:tw-pt-12 {
    padding-top: 3rem
  }

  .md\:tw-pt-16 {
    padding-top: 4rem
  }

  .md\:tw-pt-6 {
    padding-top: 1.5rem
  }

  .md\:tw-text-left {
    text-align: left
  }

  .md\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }

  .md\:tw-text-\[22px\] {
    font-size: 22px
  }

  .md\:hover\:-tw-translate-x-2:hover {
    --tw-translate-x: -0.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .md\:hover\:tw-scale-95:hover {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
}

@media (min-width: 1024px) {
  .lg\:tw-flex {
    display: flex
  }

  .lg\:tw-w-\[31\%\] {
    width: 31%
  }

  .lg\:tw-w-\[69\%\] {
    width: 69%
  }

  .lg\:tw-pb-14 {
    padding-bottom: 3.5rem
  }

  .lg\:tw-pb-20 {
    padding-bottom: 5rem
  }

  .lg\:tw-pb-9 {
    padding-bottom: 2.25rem
  }

  .lg\:tw-pl-6 {
    padding-left: 1.5rem
  }

  .lg\:tw-pt-14 {
    padding-top: 3.5rem
  }

  .lg\:tw-pt-20 {
    padding-top: 5rem
  }

  .lg\:tw-pt-9 {
    padding-top: 2.25rem
  }

  .lg\:tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
  }
}

@media (min-width: 1280px) {
  .xl\:tw-bottom-6 {
    bottom: 1.5rem
  }

  .xl\:tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .xl\:tw-pb-18 {
    padding-bottom: 4.5rem
  }

  .xl\:tw-pb-24 {
    padding-bottom: 6rem
  }

  .xl\:tw-pl-10 {
    padding-left: 2.5rem
  }

  .xl\:tw-pt-18 {
    padding-top: 4.5rem
  }

  .xl\:tw-pt-24 {
    padding-top: 6rem
  }
}

@media (min-width: 1440px) {
  .\32xl\:tw-mb-9 {
    margin-bottom: 2.25rem
  }

  .\32xl\:tw-line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
  }

  .\32xl\:tw-w-\[22\%\] {
    width: 22%
  }

  .\32xl\:tw-w-\[28\%\] {
    width: 28%
  }

  .\32xl\:tw-w-\[34\%\] {
    width: 34%
  }

  .\32xl\:tw-w-\[40\%\] {
    width: 40%
  }

  .\32xl\:tw-px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
  }

  .\32xl\:tw-pr-9 {
    padding-right: 2.25rem
  }
}

@media (min-width: 768px) {
  .md\:\[\&\:nth-child\(3n\+2\)\]\:tw-px-2:nth-child(3n+2) {
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
}
