@media(max-width:1024px){
  .product-single__meta{padding-left:30px;}
  .pro_icon_bottom{padding-top:30px;}
 .header-sticky-wrapper{max-width:100%; overflow:hidden;} 
 }
.page-width--tiny{padding-top:3em}
.add-to-cart{font-weight:bold;}
.header-sticky-wrapper{box-shadow:0 3px 15px rgba(150,150,150,0.1)}
.toolbar + .header-sticky-wrapper .site-header{box-shadow:0 3px 10px rgba(150,150,150,0.1)}
.review_bg .swiper-pagination-current{font-size:1.4em;}
.rl_item p{line-height:1.4;}
.si_name span{line-height:25px;}
.review-list h3{margin-bottom:15px; margin-top:5px; line-height:1.2;}
  .color-swatch--small {
   width: 90px;
  height: 75px; margin:0 8px 8px; transition:all 0.3s ease;
  }
a.color-swatch.active, a.color-swatch:hover {
    box-shadow: 0 0 0 2px #1f2529; transform:scale(1.1);
}
.product-single__meta .product-block--header{margin-bottom:20px;}
.product-single__meta .product-block--price{margin-top:-15px;}
@meda(min-width:900px){
.loaded .slideshow__slide.is-selected .animation-contents{max-width:85%; margin:0 auto;}
}
@media (max-width:1680px){
  .cl_add{
   min-height: 440px;
}
  .cl_acc .grid-product__link{padding-bottom:15px;}

  .cl_acc .payment-buttons .btn{font-size:16px;}
  .add-to-cart svg{max-width:17px;}
  .ins_list{padding-top:60px;}
  .color-swatch{background-size:contain;}
  .side_enable [data-aos="row-of-3"] .cl_add {
  min-height: 589px;
}
  .home_custom h2, h2, .h2{
  font-size: 42px;  margin-bottom:10px;
}
  .jdgm-rev-widg__title{font-size:42px!important;}
  .product-single__title{font-size:40px;}
  .pad_two .pm_info h2, .pab_one h2, hero__title{font-size:45px;}
  .pds_bg h2{
    font-size:28px;
  }
  .pm_text .pm_info h3 {
  font-size: 25px;
}
  .pm-list .pm_item:nth-child(2n) .pm_text h2{
    font-size:45px;
  }
  .ce_right {
    width: 58%;
    padding: 35px 60px;
}
}
@media (max-width:1440px){
  .cl_acc > form{
  position: absolute;
width: 100%;
 
  }
  .index-section {
    margin: 55px 0;
}
  .pacc_text{  background-size:50px 50px; }
  .pacc_text h2{margin-bottom:30px;}
.pr_info{
  margin-bottom:30px;
}
 .icon-list_item > div{
  text-align:left;
  padding:0 10px;
  display: flex;
  width:calc(25% - 20px);
}
  .review_bg h2{margin-bottom:0px;}
  .home_custom .grid-product{
  margin-bottom:0px;
}
.payment-icons{width:auto;}
  .link_more {
  margin: 50px 0;
}
 a.sk-compare-icon #addOrRemoveCompareProduct {
font-size: 18px;
}
  .home_custom h2, h2,  .h2 {
  font-size: 36px;
}
  .jdgm-rev-widg__title{font-size:36px;}
   .pad_two .pm_info h2, .pab_one h2, hero__title{font-size:36px;}
  .ce_infos p {
  font-size: 16px;
}
  .col_bottom a.btn {
  font-size: 18px;
    padding-top:10px;
  }
  .ce_right{
  width:58%;
  padding:30px 30px;
}
  .ce_right h2 {
  font-size: 35px;
  }
  .ce_right .grid-product__title {
  font-size: 25px;
}
  .current_price {
  font-size: 30px;
  }
  .pi_title {
  width: 30%;
}
  .payment_icon .pay_icon_list {
  width: 70%;
}
  .pi_title h4 {
  font-size: 16px !important;
  }
  .spec_content p{
  font-size:18px !important;
  line-height: 30px;
}
  .tab_content ul li {
  padding: 0 15px;
  }
  .cl_add {
  min-height: 380px;
}
  .cl_acc .grid-product__link {
  padding-bottom: 10px;
  }
  .tab_cpanel h2 {
  margin: 0;
  padding: 30px;
  font-size: 25px;
  }
  .pr_info h3 {
  font-size: 25px;
  }
  .pm-list .pm_item:nth-child(2n) .pm_text h2 {
  font-size: 35px;
}

  .pds_bg p{
    margin-bottom: 10px;
  /*  min-height:200px;*/
  }
  .pr_info p,.pds_bg p,
  .pm_text .pm_info span {
  font-size: 16px;
}
  .pab_item h3{
    font-size:25px;
  }
  .pab_wrapper p {
  font-size: 18px;
  }
  .pm_text .pm_info h3 {
  font-size: 20px;
}
  .pab-list {
  display: flex;
  margin: 80px 0 50px;
}
  .pab_wrapper {
  padding: 80px 0;
  }
  .spec_content > a {
  margin: 50px 0 50px;
  }
  .spec-list {
  padding: 80px 0;
}
  .nav_fixed {
  margin-top: 60px;
}
  .spec_content .hc_spec {
  max-width: 95%;

}
  .spec-list .hcs_text .hcs_info b {
  font-size: 25px;
}
  .p_nav ul li a {
  display: block;
  font-size: 30px;
  }
  .iw_item h4 {
  font-size: 20px;
  }
  #launchtip_upsell_select_wrapper a {
  font-size: 18px;
}
  .pro_upsell h4, .pro_discount h4, .variant__label[for] {
  font-size: 20px;
  }
  .article__excerpt {
  font-size: 16px;
  line-height: 20px;
}
  .other_info h3{
    font-size:24px;
  }
  .article__grid-meta h3 {
  font-size: 20px;
  margin: 15px 0 30px;
  line-height: 30px;
  height: 60px;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
  .sl-left .nav-bottom, .sl-left .swiper-scrollbar {
  width: 70%;
}
  .sl-content {
  padding: 50px 50px 50px;
  min-height: 350px;
  }
  .sl-left p {
  font-size: 18px;
  }
  .sl-content .swiper-pagination {
  bottom: 30px;
  left: 50px;
  }
  .sl-content .swiper-pagination-current {
  font-size: 40px;
  font-weight: 700;
}
  .sl-content .swiper-pagination {
  text-align: left;
  font-size: 25px;
}
  .mi_info p {
  font-size: 20px;
}
  .mi_text {
  max-width: 900px;
}
  .review-list .swiper-pagination {
  margin: 0 15px;
  width: 60px;
}
  .rl_item .rl_text {
  padding-left: 50px;
  }
  .nav-bottom {
  padding-left: 50px;
  bottom: 10px;
  }

  .rl_text .author {
  margin-top:15px;
}
  .hero__title {
    font-size: 48px;
  }
  .icon-list_item p {
  font-size: 14px;
  line-height: 16px;
}
  .hcs_text .hcs_info {
  font-size: 14px;
}
  .hcs_text .hcs_info b {
  font-size: 20px;
  }
  .rl_item p {
  font-size: 20px;
  line-height: 30px;
}
  .pr_bg {
  padding: 80px 0;
}

    .pds_bg {
  padding: 70px 0  40px;
  }
  .template-product div[data-context="featured-collection"] {
  padding: 60px 0 30px;
}
.dis_info .dis_text{padding: 10px 16px;}
  .dis_info .dis_text span:last-child{display:block; margin:0;}
.page-width{padding-left:40px; padding-right:40px;}
  .page-user{padding-top:30px}
.icon-list .page-width{padding-left:40px; padding-right:40px;}
.site-nav__link--underline{padding-left:15px; padding-right:15px;}
.article__grid-image .image-wrap{min-height:450px;}  
.article__grid-image img{min-height:450px;}
.icon_item .icon_img{flex-basis:65px;}
  .rl_item p{font-size:20px;}
  .pm-list .pm_item:nth-child(2n-1) .pm_image{padding-left:30px;}
  .pm_text .pm_info h3{padding-bottom:12px; margin-bottom:12px;}
  .pm-list .pm_item:nth-child(2n-1) .pm_text .pm_info{padding-right:30px;}
  .pr_text_left{padding-right:60px;}
}
 
 
@media (max-width:1366px){
  .icon_text{width:85%;}
  .side_enable [data-aos="row-of-3"] .cl_add {
  min-height: 536px;
}
  .site-nav__link--underline{
    margin:0;
  }
   .hero__title {
    font-size: 32px;
  }
  .hc_info p {
  font-size: 20px;
}
  .home_custom h2,  h2,.h2{
    font-size:36px;
  }
  .jdgm-rev-widg__title{font-size:36px;}
  .pds_bg h2{font-size:24px;}
  .review_bg {
  padding: 65px 0 60px;
}
  .ins_list {
  padding-top: 45px;
  }
  .support_bg{
  padding:65px 0 0;
}
  .link_more {
  margin: 40px 0;
  }
  .hbs_slider .article_date {
  bottom: 30px;
  }
  .article__grid-meta {
  padding: 30px 30px;
  }
  .page-width {
     padding-left:40px; padding-right:40px; 
  }
  .home_custom .page-width{padding:0;}
  .rl_item p{font-size:16px;}
.icon-list .page-width{padding-left:20px; padding-right:20px;}
  .rl_item .rl_text{margin-top:-40px;}
  .sl-content>img {max-width:80px;}
  .icon__fallback-text{overflow:visible;}
  .site-footer .grid__item:nth-child(2) > div{padding-right:10px!important;}
.home_custom .hcs_spec{position:static;}
 .home_custom  .hc_spec{flex-wrap:wrap; }
.home_custom .hc_spec .hcs_item{width:33.33333%!important; flex-direction:column; align-items:center; text-align:center; margin-bottom:20px;}
  .hcs_spec{padding-bottom:15px;} 

@media (min-width:769px) and (max-width:1200px){
  .pib_item{align-items:flex-start;}
  .pib_icon{flex-shrink:0; margin-right:8px;}
  .pib_list h4 {
  font-size: 12px;
  }
  .pib_list span{
    display:none;
  }
  .pib_icon img {
  width: 20px;
}

  .payment-buttons .add-to-cart{min-height:35px;}
  .pib_list{align-items:flex-start;}
  .pib_list .pib_icon{width:40px; height:40px; }
  .footer-policy-link a{padding-right:20px!important;}
  .col_bottom a.btn{min-width:180px!important;}
}
@media (max-width:1200px){
.side_enable [data-aos="row-of-3"] .cl_add {
  min-height: 471px;}

}
@media (max-width:1024px){
  .cl_add .grid-product__image-mask{padding:15px;}
  .cl_acc:hover .grid-product__link {
  margin-top:0px;}

  .cl_acc>form {
    position: absolute;
    width: 100%;
    bottom: 0;}

  .cl_acc .payment-buttons .btn {
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;}

  #CollectionAjaxContent .medium-up--four-fifths {
  padding-left: 15px;}

  .icon_text{max-width:100%;}
  
  .home_custom h2, h2, .h2{font-size:30px;}
  .jdgm-rev-widg__title{font-size:30px!important;}
 .footer-bottom{align-items:center;}
  .footer-policy-link a{margin:0 10px;}
 .side_enable [data-aos="row-of-3"] .cl_add {
  min-height: 405px;
}
 .payment-buttons .add-to-cart{
    min-height: 40px;
  }
  .icon--payment svg{width:30px; height:auto;}
.page-width{padding-left:30px; padding-right:30px;}
.color-swatch--small{width:75px; height:60px;}
.icon-list_item>div{flex-direction:column; }
  .icon_item .icon_img { flex-basis:auto; width:auto!important;}
 .icon_item .icon_img{max-width:48px;}
  .icon_text{width:100%;}
  .pab-list .pab_item{padding:0 40px;}
   .rl_item p{font-size:15px; line-height:1.4;}
  .pm_text .pm_info h3::after {
  width: 50px;
  }
  .pds_bg h2{
    font-size: 24px;
  }
  .product-single__meta .custom_text ul li {
  background-size: 20px;
}
  .product-block {
  margin-bottom: 15px;
}
  .rl_item .rl_text{padding-left:30px; margin-top:0;}
 .rl_text .author{margin-top:15px;}
  .ico_quote {
  
    left: 0px;
    top: 4px;
    display: inline-block;
    max-width: 30px;
    margin-right: 12px;
}
  .review-list h3 {
font-size:21px;
  }
  .nav-bottom{padding-left:30px; bottom:-20px;  margin-bottom:10px;}
  .coll_top h1 {
  font-size: 40px;
  }
  .coll_top{
    height:300px !important;
  }
  .ce_left a {
  padding: 80px 15px;
  }
  .ce_infos {
  margin-bottom: 15px;
  padding-bottom: 15px;
  }
  
  .col_bottom a.btn {
  font-size: 16px;
    padding:12px 28px 7px 28px; }

a.sk-compare-icon #addOrRemoveCompareProduct {
  width: 180px!important;
font-size: 16px;
  }
  .hcs_text .hcs_info b {
  font-size: 16px;}

  .ce_info .hcs_text .hcs_info {
  font-size: 12px;}

  .ce_info {
  margin: 10px 0;
}
  .ce_right .grid-product__price {
  font-size: 16px;
  color: #999;
}
  .current_price {
  font-size: 25px;
  }
  .ce_right .grid-product__title {
  font-size: 18px;
}
  .ce_infos p {
  font-size: 14px;
}
  .ce_right h2 {
  font-size: 20px;
  margin: 10px 0 10px;
  line-height: 1.2 !important;
}
  .ce_right {
  width: 58%;
  padding: 20px 30px;
}
  .ce_info .hc_spec .hcs_item {
  width: calc(33% - 20px);
}
 .ce_info .hc_spec .hcs_item{
   border-right:1px solid #ccc; margin-right:20px;
 }
  .ce_info .hcs_text .hcs_info{padding-right:15px;}
  .index-section {
  margin: 50px 0;
}
  .pab_wrapper,.iw-list,.spec-list,
  .pr_bg, .pds_bg, .template-product div[data-context="featured-collection"] {
  padding: 50px 0;
}
  .cl_add .grid-product__meta {
  margin: 0 15px; padding-bottom:40px; min-height:150px;
  }
  .cl_add {
  min-height: 375px;
  
}
  .grid-product__title--heading {
  font-size: 16px;
}
  .spec_info h3 {
  font-size: 20px;
  }
  .tab_content ul{margin:0 -10px 0 0;}
  .tab_content ul li,.box_bg .tab_content ul li {
  width: calc(33.333% - 20px); margin-right:20px; border-bottom-width:1px;
  }
  .size_bg .tab_content ul{
    margin-right:-15px;
  }
  .pds_bg .swiper-scrollbar {
  width: 80%;
  }
  .pr_info {
  margin-bottom: 20px;
  }
  .pr_info:last-child {
  margin-bottom: 0;
}
  .pr_info h3 {
  font-size: 20px;
}
  .pr_info::after {
  left: -33px;
  }
  .pr_text_left {
  padding-right: 50px;
  padding-left: 30px;
}
  .hero__subtitle {
  font-size: 16px;
  margin-top: 15px;
}
  .hero__title {
  font-size: 24px;
}
  .pm-list .pm_item:nth-child(2n) .pm_text h2 {
  font-size: 30px;
}
  .pr_info p, .pds_bg p, .pm_text .pm_info span {
  font-size: 14px;
}
  .pm_text .pm_info h3 {
  font-size: 18px;
}
  .pm-list .pm_item:nth-child(2n-1) .pm_text .pm_info {
  padding-right: 20px;
  }
  .pab_wrapper p {
  font-size: 16px;
}
  .spec-list .hcs_text .hcs_info b {
  font-size: 20px;
}
  .spec_content .hc_spec {
  max-width: 100%;
  }
  .scroll-to-fixed-fixed .p_nav ul li a {
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
}
  .product-single__meta .custom_text ul li {

}
  .product-single__meta .custom_text ul {
  font-size: 14px;
}
  .que_text p {
  font-size: 14px;
  }
  .pro_upsell h4, .pro_discount h4, .variant__label[for] {
  font-size: 16px!important;
}
  .dis_info {
  font-size: 14px;
  }
  .faux-select, body, button, input, select, textarea {
    font-size: 14px;
  }
 .tab_content {
     padding: 15px 30px 25px;
    display: none;
}
  .spec_bg .tab_content{padding-right:15px;}
  .media_list{padding-top:70px;}
  .product__thumbs--beside {
    flex: 0 0 90px;
    max-width: 90px;
}
  .pacc_text {
    background-size: 40px 40px;
}
  .pro_acc {
    padding: 50px 0 40px;
  }
  .page-content--product{padding-bottom:40px;}
  .pro_icon_bottom{margin-top:30px;}
}
@media only screen and (max-width: 768px){
 .pro_short{padding-top:0;}
  #accessories #CollectionAjaxContent{padding-left:15px;}
  .collection-filter select{background:#fff;}
  .pro_icon_bottom {
  margin-top: 30px;
}
  #CollectionAjaxContent .medium-up--one-fifth {
  width: 100%;
}
  #CollectionAjaxContent .medium-up--four-fifths {
  width: 100%;
  padding-left: 0;
}
  .cl_acc .payment-buttons .btn{border-radius:0 0 5px 5px;}
  .article_date{padding:0 15px;}
    .hbs_slider .article_date {
  bottom: 15px;
  }
  .hero[data-arrows=true] .flickity-previous{left:calc(50% - 35px);  }
.hero[data-arrows=true] .flickity-next{right:calc(50% - 45px);  }
  .collection-grid__wrapper .grid-product{margin-bottom:20px;}
  .pacc_info .pacc_left{margin-bottom:30px;}

  .template-product div[data-context=featured-collection]{padding-top:0px; margin-top:-30px;}
  .featured-collection .page-width--flush-small{padding-right:0;}
  .grid-overflow-wrapper .grid__item:first-child{margin-left:0;}
  .cl_add{min-height:480px;}
  .cl_acc .jdgm-preview-badge{display:block!important;  }
  .cl_add .grid-product__meta{padding-bottom:30px;}
  .cl_acc{border-radius:5px; }
  .cl_acc > form{
  position: absolute;
width: 100%;
bottom: 0; 
}
  .cl_acc:hover .grid-product__link {
  margin-top:0px;
}
  .cl_acc:hover .cl_add{
  border:1px solid transparent;
}
  .cl_acc .btn--full{padding:7px 20px;}
  .cl_acc .image-wrap{ }
    .cl_acc .image-wrap img{objec-fit:cover;}
  .add-to-cart svg{width:18px;}
   .add-to-cart{font-size:14px;}
  .featured-collection{padding-top:0;}
  .pr_info {
    margin-bottom: 10px;
}
  .pr_info h3{font-size:18px;}
  .pib_list{flex-wrap:wrap; margin-top:15px;}
  .pib_item{width:100%; margin-bottom:20px;}
 .pib_item:last-child {margin-bottom:0;}
  .pib_item br{display:none; }
  .pib_list .pib_icon {
    margin-right: 15px;
    width: 40px;
    height: 40px;

}
    .pib_list .pib_icon img{max-width:24px; height:auto; height:20px;}
  .pib_list span{display:none;}
  .form-vertical .btn{max-width:60%; margin:0 auto; font-size:1.1em;}
  .collection-hero {
  height: 230px;
  }
  .collection-hero__content .section-header__shadow {
  text-align: left;
}
  .col_acc-right{
    display: none;
  }
  .collection-filter select {
  border-radius: 10px;
}
  .collection-filter .btn{
  border-radius: 10px;
}
  .collection-grid__wrapper .collection-filter {
  display: flex;
    margin-bottom:20px;
  }
  .cl_add {
  border: 1px solid #e6e6e6;
  }
  .product-block .product__policies{text-align:left!important; margin-top:8px;}
  .contact-ico-list .content-wrapper{
    padding:30px 15px; margin:20px 5px;
  }
  .section-header{margin-bottom:20px;}
  .contact-ico-list .text-with-icons__block-icon .ico-wrapper{width:75px; height:75px;}
  .contact-ico-list .text-with-icons__block-icon .ico-wrapper svg{width:40px; height:40px;}
 
  .swiper-scrollbar {
  margin-left:15px; max-width:65%;  margin-right:10px;
  }
  .sl-left p {
  margin: 20px 0 0;
}
  .ins_list {
  padding-bottom:30px;
}
  a.sk-compare-icon #addOrRemoveCompareProduct {
  width: 150px !important;
  height: 39px !important;
    font-size: 16px;
  }
 .page-width{  padding-left:18px; padding-right:18px;  }
  .col_acc-nav{padding:15px 0;}
  .home_custom  .page-width{  padding:0 10px;  }
.page-width--tiny{padding-top:40px; padding-bottom:40px;}
  .pab_wrapper, .iw-list, .spec-list, .pr_bg, .pds_bg{
   padding:40px 0;  
  }
   .pds_bg{
   padding:40px 0 10px;  
  }
  .iw-list{
    padding:20px 0 15px;
  }
  .iw-list .iw_item img{width:28px;}
  .other_info{padding:40px 20px;}
  .pab_img img{border-radius:6px;}
  .pab_wrapper p{color:#333;}
  .spec_content .hc_spec img{max-height:36px;}
  .template-product div[data-context=featured-collection]{background:#fff;}
    .product-single__meta .custom_text ul li {
  background-size: 15px; padding-left:20px;
}
  .product-single__title{padding-bottom:10px;}
  .ce_left:before{width:100%;}
  .ce_right .grid-product__price {
  font-size: 15px;
  }
  .current_price {
  font-size: 21px;
  }
  .col_bottom{
    margin-bottom:20px; margin-top:10px;
  }
  .spec-list{
    padding-bottom:0px
  }
  .spec_content .hc_spec .hcs_item {
    min-height:100px;
  margin-bottom: 30px;
}
  .pab-list {
  display: flex;
  margin: 30px 0 20px;
}
  .pab-list .pab_item {
  padding: 0 50px;
  overflow:hidden;
  }
  .ce_bg .hc_spec{margin-right:-20px;}
  .ce_info .hcs_text .hcs_info{padding-right:10px;}
 .ce_bg .hc_spec .hcs_item {
  width:calc( 33.33% - 20px); margin-right:20px;  border:none;
  }
  .spec_content > a {
  margin: 30px 0 50px;
}
  .spec_content {
  padding-top: 30px;
}
  .spec_info .spec_slider {
  float: none;
  top: 0;
  width: 100%;
    position: relative;
}
  #overview{
    display: flex;
flex-wrap: wrap;
  }
  .spec_info .spec_content {
  width: 100%;
  padding-right: 0;
  float: none;
  order: 2;
}
  .p_nav ul{padding:0;}
  .p_nav ul li a {
  font-size: 20px;
}
  .iw-list .iw_item {
  width: 50%;
    margin: 15px 0;
}
  .iw-list .iw_items {
  flex-wrap: wrap;
}
  .iw-list span{
    display:none;
  }
  .grid--product-images--partial .flickity-slider .product-main-slide {
    width: 100%;
    margin-right: 0;
  }
  .product-single__meta {
  text-align: left;
  }
  .pm-list .pm_item:nth-child(2n-1) .pm_text .pm_info {
  margin: 0 0 25px;
}
  .pm-list .pm_item:nth-child(2n-1) .pm_image {
  order: 2;
  padding-left: 0;
  width: 100%;
}
  .pm-list .pm_item > div {
  width: 100%;
    padding:0;
}
  .pm-list .pm_item {
  flex-wrap: wrap;
}
  .pm-list .pm_item:nth-child(2n) .pm_text {
  padding: 0;
  max-width: 700px;
  margin-bottom: 15px;
}
  .pm-list .pm_item .pm_image{
    order:2;
  }
  .pr_item {
    margin-top: 30px;
  flex-wrap: wrap;
}
  .pr_text_right {
  width: 100%;
}
  .pr_text_left {
  padding-right: 0;
  padding-left: 15px;
  width: 100%;
  order: 2;
    margin-top: 30px;
}
  .pr_info::after {
  left: -18px;
}
  .pds_bg .swiper-button-next, .pds_bg .swiper-button-prev{
    display:none;
  }
  .pds_bg .swiper-scrollbar {
  width: 100%; max-width:100%!important;
}
 
  .pds_bg p {
  min-height: 60px;
  }
  .pr_bg .section-header, .pab_wrapper .section-header {
  width: 100%;
}
  .scroll-to-fixed-fixed {
  top: 50px !important;
}
  .footer__title {
  margin-bottom: 0;  font-size:15px;
  }
  .site-footer__linklist {
  margin: 0;
  text-align: left;
}
  [data-center-text="true"] .payment-icons {
  text-align: center !important;
}
  .footer-bottom {
  flex-wrap: wrap;
}
  .payment-icons {
  width: 100% !important;
    margin-top:10px;
}
  .footer-copyright {
  width: 100%;
}
  .footer__small-text {
  width: 100%;
}
  .page-content--product {
  overflow: hidden;
}
  .footer-bottom {
  margin-top: 0 !important;
  }
  .hc_info p {
  font-size: 16px;
  padding: 0 15px;
}
  .review_bg h2 br{
    display:none;
  }
  .blog_title{
    text-align:left;
  }
  .review_bg,
  .support_bg {
  padding: 50px 0 0;
}
  .ins_list {
  padding-top: 30px;
}
  .ins_text .swiper-pagination {
  bottom:10px;}
 .ins_list  .in_image img{min-height:auto; object-fit:cover;}
  .home_custom .hc_item {
  padding: 50px 0 0;
  }
  .tab_content .spec_info {
  padding: 10px 0;
  }
  .si_name span {
  margin-right: 8px;
  }
 
.page-content--product{padding-bottom:20px;}

 .icon-list{padding:35px 0 10px; border-bottom-width:2px;}
.icon-list .page-width{padding:0 10px;}
.icon-list_item {  display: flex; justify-content: center;  flex-wrap:wrap;}
.icon-list_item h4{font-size:16px; line-height:1.2; font-weight:bold; margin-bottom:0px;}
.icon-list_item p {    font-size: 13px; padding:0 6px;}
.icon_item a{  justify-content:center; margin:0;  }
.icon-list_item>div{  width:50%; flex-direction:column;  justify-content:flex-start; text-align:center; padding:0; margin-bottom:30px; }
 
.icon-list_item  .icon_img{  max-width:45px; margin:0 auto; margin-bottom:10px; }
.icon-list_item  .icon_text {width:100%;}
 .ico_quote{max-width:24px;}
.color-swatch--small {width:75px; height:60px; background-size:contain; border-radius:3px;}
.desktop--hide{display:inline-block;}
.btn {    font-size: 16px;    letter-spacing: 0;    border-radius: 25px;
    padding-left: 15px;    padding-right:15px;
}
 .spec_content>a{display:inline-block; clear:both;}
.home_custom h2, h2, .h2 {    font-size: 24px; margin-bottom:15px;}
  .jdgm-rev-widg__title{font-size:24px!important;}
.home_custom h2{font-size:24px; margin-bottom:8px;}
  .home_custom .hc_top p{margin-bottom:14px;}
 .pm-list .pm_item:nth-child(2n) .pm_text h2{font-size:24px;}
.hero__text-content.vertical-bottom {    vertical-align: top;    padding-top: 12%;}
.slideshow__slide--slideshow-0 .hero__title{margin-bottom:15px!important;}


.home_custom .hc_item > .page-width{padding:0;}
.home_custom  .hc_info .grid-product__meta{position:static; padding-bottom:20px; margin-top:5px; display: flex;
    flex-direction: column;}  
 .hc_info .grid-product__meta .btn{order:2; }
.home_custom .grid-product__meta a.btn {
    font-size: 15px; font-weight:bold;   border-radius: 25px;    padding-left: 30px;    padding-right: 30px; max-width:160px; margin:0 auto; text-align:center; margin-top: 10px;  margin-bottom:10px;
}
.home_custom .hc_info .grid-product__price {
     font-size: 21px;    order:1;
}

.hc_info .grid-product__price--original {
    font-size: 18px;   
}
 .hcs_text .hcs_info{font-size:13px;}
.home_custom .grid-product{margin-bottom:0;}
.home_custom  .hcs_spec{position:static; padding-top:25px; padding-bottom:5px;}
.hc_top{margin-bottom:20px; margin-left:10px; margin-right:10px;}
.hc_spec{flex-wrap:wrap;}
.home_custom .grid-product__image-mask{max-width:95%; margin:0 auto;}
.home_custom .hc_spec .hcs_item{width:33.33333%!important; flex-direction:column; align-items:center; text-align:center; margin-bottom:20px;}
.home_custom .small--hide{display:block!important;}
.home_custom  .hcs_item .hcs_img{margin-right:auto; margin-left:auto; margin-bottom:12px;}
.home_custom .hcs_item .hcs_img img{max-height:35px; height:auto; margin:0 auto;}
.home_custom .hc_spec .hcs_text{padding:0 5px; text-align:center;}
  .link_more{margin:30px 0;}
  .link_more a{padding-bottom:5px;}
.rl_item .rl_img{margin-bottom:5px;}
  .review-list .swiper-pagination {
  margin: 0 10px;
  width: 50px;
}
.review-list .rl_item{flex-direction:column;}
.review-list .rl_item > div{width:calc(100% - 10px);}
  .review-list h3{font-size:20px;}
.rl_item .rl_text{padding:0; margin-top:10px;}
.nav-bottom{position:static; width:100%; padding:0; margin-top:20px; margin-bottom:30px;}


.sl-left p {    font-size: 16px;}
.ins_list h2{font-size:24px; margin-left:10px; margin-right:10px; margin-bottom:10px;}
.play_icon .icon_play{width:50px; height:50px; line-height:45px; font-size:20px;}
 .media_list{padding-top:50px; padding-bottom:60px;}
 .media_list .mi_image img{max-width:50%;}
  .mi_info p{font-size:16px; padding:0 10px;}
  .mi_image{margin-bottom:24px;}
 .mi_text .swiper-pagination{bottom:auto; margin-top:15px;}
.rl_item p {    font-size: 16px;    line-height: 24px;}
.review-list .swiper-pagination{width:80px;}
.sl-content{padding:10px; min-height:auto; box-shadow:none;}
.sl-content>img{display:none;}
.sl-left .nav-bottom, .sl-left .swiper-scrollbar {    width: 100%;}
.sl-content .swiper-pagination{display:none;}
 .support-list {flex-direction:column;} 
.support-list h3{font-size:24px; margin-bottom:0;}
.support-list > div{width:100%!important;}
.support-list .sl-left{position:static;}
.support-list svg path{width:15px; height:15px;}
 .support-list .nav-bottom {
    right: auto;    left: 0;    position: relative;
    margin-top:40px;    bottom: auto;    padding: 0; 
}
  .sl-left .swiper-button-next, .sl-left .swiper-button-prev {
    position:absolute!important;
    width: 36px; height:36px;
    background: #ff981c;
    border-radius: 50%;
    left:10px;
}
.sl-left .swiper-button-next{left:58px;}
.sl-left .swiper-scrollbar{width:60%; margin-left:35%;}
.ins_text .swiper-button-prev, .media_items .swiper-button-prev,.ins_text .swiper-button-next, .media_items .swiper-button-next{display:none;}
.article__grid-image .image-wrap{min-height:250px;}  
.article__grid-image img{min-height:250px;}
.section-header--with-link  .section-header__link{margin-left:20px;}
.section-header--with-link .blog_title p{display:none;}
.section-header--with-link .btn{padding:8px 15px 8px 10px; border-radius:20px;}
.section-header--with-link .btn span:first-child{max-height:24px; margin-right:5px;}
.section-header--with-link .btn svg{max-width:20px;}
.form__submit--large{display:inline-block;}
.newsletter-section .newsletter-wrap{padding:0; max-width:100%; }
.newsletter-section__content{padding-left:0;}
.newsletter-section .newsletter__input {
  margin-left: 0; background-position:18px center;
  min-width: 55%;
  border-radius: 30px!important;
  padding-left: 44px;
  padding-right: 20px;
}
.newsletter-section{padding:45px 0;}
 .newsletter-section .theme-block:nth-child(2){margin-bottom:15px;}
   .newsletter-section .theme-block .h2{font-size:21px;}
.newsletter-section h2{margin-bottom:0px; font-size:24px;}
.newsletter-section .btn {
    border-radius: 30px!important;    padding: 15px 12px 15px 15px;
    letter-spacing:0;  font-size:14px;  margin-left: -50px;    display: flex;
}

  
  /*footer*/
.site-footer{padding-top:30px;}
.footer-bottom p, .footer-bottom ul{text-align:left; font-size:1.1em;}
.footer__title{margin:0 0 5px; color:#feffff; font-weight:500;}
[data-center-text=true] .footer__title {    text-align: left;}
[data-center-text=true] .payment-icons {
   text-align: left!important;
}
.collapsible-trigger-btn{border:none}
.collapsible-trigger-btn:after {display:none;}
.footer__collapsible{text-align:left;}
 
.payment-icons{width:100%; order:1; margin-bottom:10px;}
  .payment-icons li{margin-right:2px;}
.footer-copyright{width:100%; order:2;}
.footer-policy-link{width:100%; order:3;}
.footer-policy-link a{margin:0; padding:0;}
 .footer-policy-link span{padding:0 12px;}
.site-footer .grid__item:first-child:after{border:none;}
 .site-footer .grid__item:nth-child(2){margin-top:-10px;  }

.site-footer .grid__item:nth-child(2) .collapsible-trigger{display:none;}
.site-footer .grid__item:nth-child(2)  .small--hide{display:block!important; margin-top:20px;}
.site-footer .grid__item:nth-child(2)  .footer__title{font-size:16px; letter-spacing:0; margin-bottom:12px; margin-top:0; color:#ccc;}
.site-footer .grid__item:nth-child(2) .collapsible-content  {    visibility: visible !important;    opacity: 1 !important; height:40px !important;  margin-bottom:12px; }
.site-footer .grid__item:nth-child(2) .collapsible-content--small .collapsible-content__inner {    transform: translateY(0px);}
.site-footer .grid__item:nth-child(2)  .collapsible-content.is-open{height:auto!important;}
.site-footer .social-icons li {display:inline-block; margin-right:12px; color:#ccc;}
.site-footer .icon__fallback-text{position:absolute;}
.coll_top{height:240px!important; }
.ce_bg{flex-direction:column; box-shadow:none; }
 .coll_top h1{font-size:48px;}
.ce_bg > div{width:100%; background:#f4f4f4!important;} 
.ce_left a{padding:10px; background:#f4f4f4;}
.ce_left .grid-product__image-mask{background:#fff;}
.ce_right{padding:10px;}
.ce_right .grid-product__meta{padding:0px 8px 0;}
 .ce_info .hc_spec .hcs_item{align-items:flex-start;}

.grid-product__link .image-wrap img{width:100%;}
.col_bottom a.btn{font-size:16px; padding:7px 20px; min-width:130px;}
.ce_right .grid-product__title{font-size:21px;}
.ce_right h2{font-size:22px;}
.tab_nav{width:100vw; overflow-x:auto;}
.tab_lists-faq ul{ width:760px; margin:0; padding-bottom:12px; justify-content:flex-start;}
.tab_lists-faq ul li{padding:10px 20px; margin:0 10px; border-radius:0;}
/*.tab_lists-faq ul li{width:45%; margin:8px 2%;}*/
  .dis_info .dis_text{padding: 6px 16px;}
 .dis_info {font-size:15px;}
 .dis_info .dis_text span:first-child{font-size:1.1em; font-weight:bold;}
.dis_info .dis_text span:last-child{display:block; margin:0;}
.dis_info .dis_code{font-size:14px; font-weight:bold;} 
.pro_acc{padding:50px 0 0;}
.pacc_info{flex-direction:column;} 
.pacc_info>div{width:100%;}
.pacc_text{padding:30px 15px; background-size:36px 36px; min-height:auto;}
.pacc_text ul{margin-left:18px;}
.pacc_text h2{margin-bottom:20px;}
  .cl_add .grid-product__image-mask{padding:5px;}
.cl_add .grid-product__price{font-size:18px; padding-bottom:8px;}
.cl_add .grid-product__price .grid-product__price--savings{font-size:15px;}
  .cl_add .grid-product__meta{margin:0 12px;}
 .spec_info .hc_spec{display:flex; flex-wrap:wrap;}
 .spec_info .hc_spec .hcs_item{width:calc(49% - 15px);}
  .pm_text .pm_info h3:after{width:50px;}
  .pds_bg h2{font-size:21px;}
  .pds_bg .nav-bottom{padding-top:0px;  margin-bottom:0;}
  
  .form-content{flex-direction:column;}
  .form-content .form-vertical{width:100%;}
  .form-content .form-side{width:100%; margin-left:0;}
  .top_bg{height:240px!important; background-size:cover;}
  .other_info h3{font-size:20px; line-height:1.3; padding-right:18px;}
 .other_info .art_icon {margin-top:8px;}
  .article__grid-meta{padding:20px 15px 10px;}
  .article__grid-meta h3{line-height:1.2;  height:50px;}
  .article-content{flex-direction:column;}
 .article-content .article-side{width:100%; order:2;}
 .article-content .article{width:100%; order:1;}
  .blog-list .article-highlight-slider{width:100%;}
  .article-highlight-slider .image-wrap{height:300px;}
  .blog-list .grid__item{width:100%;}
  .free-gifts {
      padding: 15px 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

  .pad_two .pm_info h2, .pab_one h2, hero__title {
    font-size: 30px; margin-bottom:20px;
}
  .tab_content {
    padding: 15px 15px 25px 15px;
    display: none;
}
  .tab_content ul{    margin:0 -15px 0 0;}
  .tab_content ul li{width:calc(50% - 15px); margin-right:15px; padding:0px; border-bottom-width:1px;}
 .size_bg .tab_content li,.box_bg .tab_content ul li{width:100%; padding:10px 0; margin-bottom:0;}
  .box_bg .tab_content ul li{border:none;}
  .si_name span{line-height:25px;}
  .box_bg .tab_content ul li:before{margin-top:5px; width:6px;height:6px;}
  .collapsible-trigger-btn {font-size:18px;}
.template-index .article__grid-image {
  margin-bottom: 0;
}
  .blog_title{
  width:50%;
}
}
@media only screen and (max-width: 640px){
  .side_enable [data-aos="row-of-3"] .cl_add {
  min-height:auto;
}
  .review_bg,
  .support_bg {
  padding: 50px 0 0;
}
  .coll_top h1 {
  font-size: 35px;
}
  .ce_info{
    margin:10px 0;
  }
  .ce_info .hcs_text .hcs_info {
  font-size: 12px; line-height:1.2;
}
  .ce_info .hcs_text .hcs_info b {
  font-size: 18px; margin-bottom:6px;
}
  .pay_icon_list .payment-icons{
    margin-bottom:0;
  }
  .pay_icon_list img{
    margin-top:10px;
  }
  .pi_title {
  width: 100%;
}
  .payment_icon .pay_icon_list {
  width: 100%;
}
  .payment_icon {
  flex-wrap: wrap;
}
  .product__price.on-sale{font-size:24px;}
  .product-single__meta .product__price{font-size:24px;}
  .product__price.product__price--compare {
  font-size: 18px;
  }
  .cl_add {
  min-height: 308px;
}
  .grid-overflow-wrapper .grid__item {
  width: 70vw;
  flex: 0 0 70vw;
  }
  .spec_content .hc_spec {
  column-count: 2;
  }
 
  .spec_info h3 {
  font-size: 18px;
}
  .spec_info span,
  .spec_info p {
  font-size: 12px;
  }
  .spec_info p {
  min-height: 34px;
}
  .pab-list .pab_item {
    padding: 0 10px;
    border-left:0;
  }
  .spec_content p {
  font-size: 16px;
  color:#333;
  line-height: 25px;
}
  .dis_info {
  width: 100%;
  }
  .iw_item h4 {
  font-size: 18px;
}
  .iw-list .iw_item .iw_img {
  width: 70px;
  height: 70px;
  border: 6px solid #fbefdf;
  padding: 12px;
}
  .iw-list .iw_item .iw_img{
    margin-bottom:8px;
  }
  .gifts_item{margin:5px 0;}
  .pab_item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
  .pab_item span{
    font-size:12px;
  }
  .pm-list .pm_item {
  margin: 30px 0 0;
  }
  .si_name span {
  margin-right: 8px;
}
  .product-single__meta .product__price-savings{font-size:16px;}
  .grid-product{margin-bottom:20px;}
  .color-swatch{width:50px; height:40px; margin-right:6px;}
}
@media only screen and (max-width: 480px){
  .cl_add .grid-product__meta{margin:0 6px;}
  .cl_acc .payment-buttons .btn{font-size:15px; padding-top:4px; padding-bottom:6px; }
  .cl_add .grid-product__meta {
    padding-bottom: 20px;
}
  .add-to-cart svg{width:16px;}
  .side_enable [data-aos="row-of-3"] .cl_add {
  min-height: 367px;
}
  .template-collection .payment-buttons .add-to-cart {
  min-height: 30px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
  .cl_add {
  min-height: 355px;
}
  .nav_fixed{display:none;}
  .article__grid-image .image-wrap, 
  .article__grid-image img {
  min-height: 350px !important;
}
  .article__grid-meta h3 {
  margin: 15px 0 20px;
  }
  .article__excerpt {
  font-size: 14px;
  }
  .pab_wrapper p {
  font-size: 14px;
}
  .ce_bg .hc_spec{margin-right:-15px;}
  .ce_info .hcs_text .hcs_info{padding-right:5px;}
 .ce_bg .hc_spec .hcs_item {
    margin-right:0px;  border:none; width:33.33%;
  }
  .grid-product__price--savings{margin-left:0; margin-top:4px;}
  .box_bg .tab_content ul {
  flex-wrap: wrap;
    justify-content: start;
text-align: left;
}
  .box_bg .tab_content ul li {
  padding: 5px 0px;
  border:none;
  width: 100%;
}
  .tab_content {
  padding: 15px 20px 25px;
  }
 
  .pds_bg p {
 
}
  .pds_bg h2{
    font-size:21px;
  }
  .tab_cpanel h2 {
    padding: 25px;
    font-size: 18px;
  }
  .tab_cpanel {
  margin-bottom: 30px;
}
  .pds_bg .nav-bottom {
  margin-top: 10px;
  }
.tab_cpanel h2::after {
    font-size: 16px;

}
  .scroll-to-fixed-fixed .p_nav ul li a,
  .p_nav ul li a {
  font-size: 16px;
}
  .iw_item h4 {
  font-size: 16px;
}
  .spec_content h2 {
  margin-bottom: 20px;
}
  .spec_content p {
  font-size: 14px !important;
  line-height: 20px;
}
  .pm_text .pm_info h3 {
  font-size: 16px;
}
  .pm_text .pm_info h3 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  }
  .pr_info p, .pds_bg p, .pm_text .pm_info span {
  font-size: 14px;
}
}
@media only screen and (max-width: 400px){
  .side_enable [data-aos="row-of-3"] .cl_add {
  min-height: 365px;
}
  .ce_right .grid-product__title, .ce_infos p {
  font-size: 14px;
}
  .ce_right .grid-product__title {
  font-size: 14px;
}
  .ce_right h2 {
  font-size: 20px !impotrant;
}
  .pm_text .pm_info h3 {
  padding-bottom: 15px;
  margin-bottom: 15px;
    font-size: 14px;
  }
  
  .pm_text .pm_info span {
  font-size: 12px;
}
  .gifts_item {
    width: 100%;
  }
  .newsletter-section .newsletter-wrap{padding:0; max-width:90%; margin-left:0; }

}
@media only screen and (max-width: 350px){
  .ce_right .grid-product__title, .ce_infos p {
  font-size: 12px;
}
  .ce_right .grid-product__title {
  font-size: 14px;
}
  .ce_right h2 {
  font-size: 20px;
}
  .pm-list .pm_item  .pm_text{flex-direction:column;}
  .pm-list .pm_item .pm_text .pm_info{width:100%!important; padding-right:0;}
  .pds_bg p{display:none;}
  .pds_bg h2{font-size:16px;}
   .ce_bg .hc_spec .hcs_item {
  width:50%; margin-right:0px;  border:none;
  }
}
@media(min-width:769px) and (max-width:920px){
  .footer-bottom{flex-direction:column; text-align:left; align-items:flex-start;}
  .footer-copyright{width:100%; order:2; text-align:left;}
.footer-policy-link{width:100%; order:3; text-align:left;}
.footer-policy-link a{margin:0; padding:0;}
 .footer-policy-link span{padding:0 12px;}
}

