body.compensate-for-scrollbar{overflow:hidden}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.9;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:transform,opacity;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:hidden;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px}.fancybox-content{background:#fff;display:inline-block;margin:0;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;transform-origin:top left;transition-property:transform,opacity;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;width:100%}.fancybox-iframe{left:0;position:absolute;top:0}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;box-shadow:none;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;position:relative;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:hover{color:#fff}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button div{height:100%}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:first-child,.fancybox-button--pause svg:first-child,.fancybox-button--play svg:nth-child(2){display:none}.fancybox-progress{background:#ff5268;height:2px;left:0;position:absolute;right:0;top:0;transform:scaleX(0);transform-origin:0;transition-property:transform;transition-timing-function:linear;z-index:99998}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-slide--image.fancybox-is-scaling .fancybox-content{overflow:hidden}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background-clip:content-box;height:100px;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;left:env(safe-area-inset-left);padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0;right:env(safe-area-inset-right)}.fancybox-caption{background:linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);bottom:0;color:#eee;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:75px 44px 25px;pointer-events:none;right:0;text-align:center;z-index:99996}@supports (padding:max(0px)){.fancybox-caption{padding:75px max(44px,env(safe-area-inset-right)) max(25px,env(safe-area-inset-bottom)) max(44px,env(safe-area-inset-left))}}.fancybox-caption--separate{margin-top:-50px}.fancybox-caption__body{max-height:50vh;overflow:auto;pointer-events:all}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{animation:a 1s linear infinite;background:transparent;border:4px solid #888;border-bottom-color:#fff;border-radius:50%;height:50px;left:50%;margin:-25px 0 0 -25px;opacity:.7;padding:0;position:absolute;top:50%;width:50px;z-index:99999}@keyframes a{to{transform:rotate(1turn)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0}.fancybox-close-small{right:-6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}.fancybox-caption{padding-left:12px;padding-right:12px}@supports (padding:max(0px)){.fancybox-caption{padding-left:max(12px,env(safe-area-inset-left));padding-right:max(12px,env(safe-area-inset-right))}}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#ddd;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:rgba(0,0,0,0);top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:6px solid #ff5268;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:576px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}
em{font-style:normal;}
a{transition:all 0.3s ease;}
 .btn:focus{outline:0;} 
.jdgm-rev-widg__title{font-size:45px!important;}
.main-content{min-height:200px;}
.page-width--tiny a:hover{color:#fd9249; text-decoration:underline;}
.hero[data-arrows=true] .flickity-prev-next-button{bottom:10px;}
.hero[data-arrows=true] .flickity-previous{left:calc(50% - 50px);  }
.hero[data-arrows=true] .flickity-next{right:calc(50% - 50px);  }
.form-vertical .btn{margin-left:auto; margin-right:auto; max-width:250px; font-size:1.1em; width:auto!important; }
.color-swatch{background-size:contain; border-radius:3px; width:70px; height:60px; margin-right:8px;}
.template-search .color-swatch{width:21px!important; height:21px!important;}
.template-search .grid-product__colors{margin-top:12px;}
.template-search .grid-search__page-content{font-size:15px;}
.template-search .h4{font-size:16px;}
.jdgm-revs-tab-btn{display:none!important;}
.featured-collection .cl_acc .pro_icon_bottom{display:none;}
.product__photos--beside .product__main-photos{border:1px solid #e8e8e8;}
/*.site-header{box-shadow:0 6px 12px rgba(100,100,100,0.3)}*/
.page-content--product{padding-bottom:55px;}
.icon-list .page-width{
  padding-left:120px; padding-right:120px;
}
a.color-swatch.active,
a.color-swatch:hover {
  box-shadow: 0 0 0 1px #1f2529;
  box-shadow: 0 0 0 1px var(--colorTextBody);
}
.icon-list_item > div{
  text-align:left;
  padding:0 15px;
  display: flex;
  width:calc(25% - 30px);
}
.icon-list_item{
	display:flex;
  justify-content: space-between;
}
.sk-product-type-wrapper,
.sk-vendor-wrapper{
  display:none;
}
.icon_item a{
  display: flex;
    align-items: center;
    margin-right: 15px;
  color: #1f2529;
}
.icon-list{
	background:#fff;
    z-index: 9;
    position: relative;
  padding:40px 0;
  border-bottom: 4px solid #fbe6ca;
}
.icon-list_item h4{
	letter-spacing: 0;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
  margin-bottom:0;
}
.icon-list_item p{
	margin:5px 0 0;
  font-size: 16px;
  color: #666;
  line-height: 18px;
}
.icon_item .icon_img{
  width:21%;
  margin-top: 5px;
}
.icon_text{
  width:75%; max-width:240px;
}
.product-block--price{margin-bottom:14px;}
.grid-product__link .image-wrap img{
  width:auto;
  height:auto;
}
.home_custom{margin-bottom:0px;}
.home_custom .hc_info{
  max-width: 1150px;
margin: 0 auto;
  text-align: center;
}
.home_custom .grid-product__content {
  text-align: center;
}
.home_custom h2{
  font-size:48px;
}
.home_custom .hc_item{
  background:#faf9f5;
}
.home_custom .hc_item{
  padding:70px 0 0;
  position: relative;
}
.home_custom .grid-product__color-image,
.home_custom .image-wrap {
  background: none;
}
.hc_info p{
  font-size:24px;
}
.hc_info .grid-product__meta{
  position: absolute;
top: -10px;
width: 100%;
padding: 0;
}
.hc_info .grid-product__price--original {
  font-size: 25px;
  color: #7b7d7f;
  font-weight: normal;
}
.grid-product__meta a.btn{
  font-size: 20px;
letter-spacing: 0;
text-transform: capitalize;
border-radius: 35px;
padding-left: 40px;
padding-right: 40px;
}
.hc_info .grid-product__price {
 
  letter-spacing: 0;
  font-size: 30px;
margin-top: 20px;
  color: #f00;
}
.hc_top{
  margin-bottom:50px;
}
.hc_spec{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.hc_spec .hcs_item{
  display: flex;
align-items: flex-start;
}
.home_custom .hc_spec .hcs_item{
  width:16.66666%; 
}
.home_custom .hc_spec .hcs_item img{
  margin-top:5px; margin-left:auto; margin-right:auto;
}
.home_custom .hc_spec .hcs_text{
  padding-right:20px;
}

.hcs_item b{
  display:block; line-height:1.2; margin-bottom:4px;
}
.hcs_item .hcs_img{
  margin-right:15px;
  width:45px;
  flex-shrink:0;
}

.hcs_spec{
  position: absolute;
left: 0;
width: 100%;
bottom: 0;
background: #edece8;
padding: 30px 0;
}
.hcs_text .hcs_info{
  font-size: 16px;
color: #999; margin-top:2px;
}
.hcs_text .hcs_info b{
  font-size: 24px;
color: #1f2529;
}

.grid-product__tag {
  display: none;
}
.media_list{
  background:#fbfaf6;
  padding:100px 0;
}
.mi_image img{
  margin: 0 auto;
}
.mi_text{
  max-width: 1200px;
margin: 0 auto;
}
.mi_image{
  margin-bottom:40px;
}
.mi_info p{
  font-size: 24px;
}
.ins_list{
  padding-top: 80px;
padding-bottom: 50px;
}
.ins_list h2{margin-bottom:10px;}
.ins_list .section-header p{margin-bottom:30px;}
.section-header--with-link {
  justify-content: space-between; width:100%;
}
.section-header--with-link .btn{
  display:flex; align-items:center; padding:12px 30px;
}
.section-header--with-link .btn span:first-child{
  margin-right:10px;
}
.article__grid-image .image-wrap{
  opacity:0;
  transition: all .5s ease-out 0s;
  min-height:520px;
}
.article__grid-image{
  border:1px solid #ddd;
  border-radius:17px;
  overflow:hidden;
  position:relative;
}
.article__grid-meta{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
margin: 0;
padding: 50px 30px;
  text-align: left !important;
  transition: all .5s ease-out 0s;
}
.section-header {
  margin-bottom: 30px;
}
.article__grid-meta h3{
  font-size:30px;
  margin:15px 0 40px;
  line-height: 35px;
  height: 105px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}
.article__excerpt {
  color: #999;
}
.in_image img{
  width:100%;
 
  object-fit:cover;
  border-radius:10px;
}
.play_icon{
  position: absolute;
top: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
  text-align:center;
}
.play_icon .icon_play{
  color: #fff;
width: 75px;
height: 75px;
margin: 0 auto;
border-radius: 50%;
border: 3px solid #fff;
font-size: 30px;
line-height: 70px;
padding-left: 3px;
  transition: all .5s ease-out 0s;
}
.ins_detail a{
  pointer-events:none;
  
}
.side_enable [data-aos="row-of-3"] .cl_add{
  min-height: 669px;
}
  .shopify-product-reviews-badge {
  display: none;
  }
.blog_title{
  width:70%;
}
.swiper-slide-active .ins_detail a{
  pointer-events:inherit
}
.ins_detail a:hover .icon_play{
  border: 2px solid #ff981c;
  background:#ff981c;
}
.mi_text .swiper-pagination  {
  width: 100%;
  left: 0;
  bottom: -60px;
}
.ins_text .swiper-pagination  {
  width: 100%;
  left: 0;
  bottom: 30px;
}
.ins_text .swiper-pagination-bullet{
  background:#fff;  opacity:0.5
}
.swiper-pagination-bullet-active{
  background:#ff981c;
}
.ins_text .swiper-pagination-bullet-active{
  background:#fff; opacity:1;
}
.ins_text .swiper-button-prev{left:21%;}
.ins_text .swiper-button-next{right:21%;}
.mi_text .swiper-pagination-bullet, .ins_text .swiper-pagination-bullet {
  width: 25px;
  height: 2px;
  border-radius: 0;
  margin: 0 5px;
}
.ins_text,
.media_items{
  position:relative;
}
.swiper-button-next::after, .swiper-button-prev::after{
  display:none;
}
.site-header--stuck,
.page-container{  
  max-width:1920px;
  width:100%;
  margin: 0 auto;
}
.page-width {
  max-width: 100%;
  padding-left:140px; padding-right:140px;
  width: 100%;
 
}
.page-width--tiny{padding-bottom:30px;}
.article__grid-image:hover .image-wrap{
  opacity:1;
}
.article__grid-image:hover .article__grid-meta{
  opacity:0;
}

.top_bg{
  display:flex;
  align-items:center;
  color:#fff;
  text-align:center;
}
.article_date{
  position: absolute;
bottom: 30px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
left: 0;
padding: 0 30px;
  font-size: 14px;
color: #999;
}
.other_info{
  text-align: left;
  padding: 50px 30px;
  position: absolute;
  bottom: -150px;
  opacity: 0;
  transition: all .5s ease-out 0s;
  color: #fff;
}
.article__grid-image:hover .other_info{
  bottom: 0;
  opacity: 1;
}
.other_info .btn{
  font-size: 14px;
letter-spacing: 0;
text-transform: capitalize;
border-radius: 35px;
padding-left: 40px;
padding-right: 40px;
  font-weight: normal;
}
.template-index .article__grid-image .image-wrap:after{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgb(0,0,0,0.1);
  content:"";
  display:block;
}
.btn{
  font-size: 16px;
letter-spacing: 0;
text-transform: capitalize;
border-radius: 35px;
padding-left: 40px;
padding-right: 40px;
  font-weight: normal;
}
.review_bg{
  padding:100px 0 80px;
}
.review-list .rl_item{
  display:flex;
  align-items:center;
}
.rl_item .rl_img{
  width:50%;
}
.rl_item .rl_img img{
  border-radius:10px;
}
.rl_item .rl_text{
  width:50%;
  padding-left: 80px;
  margin-top: -80px;
}
.rl_item p{
  font-size: 26px;
line-height: 40px;
}
.rl_text .author{
  margin-top:35px;
}
.review-list{
  position:relative;
}
.sl-left .swiper-button-next,
.sl-left .swiper-button-prev,
.review-list .swiper-button-next, 
.review-list .swiper-button-prev {
  position: relative;
  top: auto;
left: auto;
right: auto;
  bottom: auto;
  margin-top: 0;
}
.review-list .swiper-pagination {
  position: relative;
  width:auto;
  margin:0 20px;
  bottom: auto;
}
.nav-bottom{
  display: flex;
align-items: center;
  width: 50%;
margin-left: auto;
padding-left: 80px;
position: absolute;
right: 0;
bottom: 60px;
  z-index: 9;
}
.review-list svg{
  width:10px;
}
.swiper-scrollbar{
  height: 2px;
  width: 350px;
  margin-left: 30px;
}
.swiper-scrollbar-drag{
  background: #ff981c;
}
.swiper-pagination-total{
  opacity:0.3;
}
.link_more{
  display: flex;
text-align: center;
justify-content: center;
  margin: 80px 0; margin-top:60px;
}
.link_more a{
  display: flex;
align-items: center;
  padding-bottom:10px;
  border-bottom:1px solid #b7b9ba;
  transition:all 0.3s ease;
}
.link_more a:hover{
  border-bottom-color:#ff981c;
  color:#ff981c;
  }

.link_more a span{
  background: #ff981c;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 23px;
  border-radius: 50%;
  margin-right: 10px;
}
.support-list{
  position: relative;
  display: flex;
  align-items:center;
}
.support-list .sl-left{
  z-index: 9;
  width: 55%;
  position: absolute;
}
.sl-content{
  padding: 100px 80px 80px;
box-shadow: -30px 20px 50px #f1f1f1;
border-radius: 20px;
z-index: 9;
background: #fff;
  min-height:550px;
  position: relative;
}
.support-list .sl-right{
  width:53%;
  margin-left:auto;
}
.support-list .sl_img img{
  border-radius:10px;
}
.sl-left p{
  font-size: 24px;
color: #666;
margin: 30px 0 0;
}
.support-list .nav-bottom{
  right: auto;
left: 0;
  position: relative;
margin: 70px 0 0;
bottom: auto;
  padding: 0;
}
.sl-left .swiper-button-next,
.sl-left .swiper-button-prev{
  width:44px;
  background:#ff981c;
  border-radius:50%;
}
.sl-right .swiper-container-fade .swiper-slide {
  opacity: 0 !important;
}
.sl-right .swiper-container-fade .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}
.sl-content .swiper-pagination{
  bottom: 50px;
  left: 80px;
  text-align: left;
  font-size: 30px;
opacity: 0.3;
}
.sl-left .nav-bottom {
  width: 85%;
}
.sl-left .swiper-scrollbar {
  width: 85%;
}
.sl-content .swiper-pagination-current{
  font-size:48px;
  font-weight: bold;
}
.sl-content .swiper-pagination-total {
  opacity: 1;
}
.support_bg{
  padding:100px 0 0;
}
.sl-content > img{
  position:absolute;
  top: -35px;
right: 22%;
}
.sl-left .swiper-button-prev{
  transform: rotate(180deg);
  margin-right: 15px;
}
.sl-right .swiper-container{
  padding-top:40px;
}
.sl-right .swiper-slide:nth-child(2){
  
}
.sl-right .swiper-slide:nth-child(3){
  
}
.coll_top{
  display: flex;
align-items: center;
color: #fff;
}
.coll_top h1{
  font-size:60px;
  width: 100%;
  text-align:center;
}
.grid-product{
  margin-bottom:25px;
}
.c_ebike .grid-product{
  margin-bottom:45px;
}
.pro_icon_bottom{
  margin-top:60px;
}
.product-recommend .grid-product{
  margin-bottom:0px;
}
.ce_bg{
  display: flex;
align-items: center;
background: #f4f4f4;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
/*padding: 30px 0 30px 30px;*/ transition:all 0.3s ease;
  position:relative;
}
.ce_bg:hover{
  box-shadow:0 5px 15px rgba(0,0,0,0.15);
}
.ce_left{
  width:42%;
}
@media(min-width:768px){
.ce_left:before{
  content:""; display:block; background:#fff; position:absolute; left:0; bottom:0;  top:0;  width:42%;
}
}
.ce_left a{
  padding:60px 30px;
  background:#fff;
}
.ce_right{
  width:58%;
  padding:35px 70px;
}
.ce_right .grid-product__meta {
  text-align: left;
  padding: 0;
}
.ce_right .grid-product__price{margin-bottom:10px;}
.ce_infos p{
  margin-bottom:0;
  color: #666;
}
.ce_infos{
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:2px solid #dedede;
  position:relative;  
}
.ce_infos:after{
  display:block;
  content:"";
  height:2px;
  background:#181b1e;
  width:25%;
  position: absolute;
bottom: -2px;
transition: all 0.5s cubic-bezier(0, 0.64, 0.36, 1);
}
.ce_bg:hover .ce_infos:after{
 width:100%;
}

.ce_right .grid-product__title {
  font-size: 30px;
}
.ce_right .grid-product__colors {
  justify-content: start !important;
}
.ce_right h2{
  font-size:42px;
  margin:15px 0 20px;
  line-height:1.2!important;
}
.current_price{
  font-size: 36px;
font-weight: bold;
color: #181b1e !important;
}
.ce_right .grid-product__price{
  font-size: 20px;
color: #999;
  margin-top:10px;
}
.ce_right .grid-product__price--savings {
  color: #ff981c;
}
.ce_info .hc_spec{
  flex-wrap: wrap; 
}
.ce_info .hc_spec{
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ce_info .hc_spec .hcs_item {
  display: flex;
  align-items: center;
  width: calc(30% - 30px);
  margin: 10px 0;
}
.ce_right div.sk-compare-icon{
  position:relative;
  line-height: 0;
}
.ce_info{
  margin:15px 0;
}
.ce_info .hcs_text .hcs_info {
  font-size: 14px;  padding-right:30px;
}
a.sk-compare-icon #addOrRemoveCompareProduct {
  width: 230px!important;
  height: 50px !important;
  border-radius: 30px!important;
  background-image: none !important;
display: flex !important;
align-items: center;
justify-content: center;
letter-spacing: 0;
font-style: inherit;
color: #000!important;
  background:#FFF!important;
font-weight: bold;
font-size: 21px;
  border:2px solid #000!important;
  margin-left:25px!important;
  transition:all 0.4s ease;
}
a.sk-compare-icon #addOrRemoveCompareProduct:after{
  content:"Add to compare";
  display:block;
  position:absolute;
}
 a.sk-compare-icon #addOrRemoveCompareProduct:hover {
border-color:#ff981c!important; background:#ff981c!important; color:#fff!important; 
 }
.col_bottom{
  display:flex;
  margin-top: 25px;
}
::-webkit-scrollbar {
display: none;
}
@media(min-width:769px){
  .product__thumbs--beside{flex: 0 0 120px;
    max-width: 120px;}
 
  .ce_info .hc_spec .hcs_item{border-right:0px solid #ccc; margin-right:30px;}
  .ce_info .hc_spec .hcs_item:nth-child(3n){border-right:none;}

}
  .page-width--tiny .section-header h1{text-align:center;}
.col_bottom a.btn{
  font-size: 21px;
font-weight: bold;
background:#333;
padding-top: 7px;
padding-bottom: 7px; 
  background:#ff981c;
transition:all 0.3s ease;
}
.collection-hero__content {
  align-items: center;
  text-align: center;
}
.hc_info .grid-product__price--savings{
  display:none;
}
.cl_add .grid-product__image-mask{
  padding:30px 60px;
}
.cl_add{
  border:2px solid #e6e6e6;
  border-radius:10px;
  overflow:hidden;
  transition: all .5s ease-out 0s;
  min-height: 532px;
}
.cl_add .grid-product__meta{
  margin: 0 25px;
border-top: 1px solid #e5e5e5;
padding-top: 20px;
}
.cl_add .grid-product__price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
.cl_add .grid-product__price span{
  font-size:16px;
}
.cl_acc .payment-buttons .btn{
  background:#1f2529;
  border-radius:0;
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
  padding-top:6px;
  padding-bottom:6px;
  font-size:18px;
  font-weight: normal;
}
.cl_acc{
  overflow: hidden;
  border-radius: 10px;
  transition:all 0.3s ease;
}
.cl_acc:hover .cl_add{
  border:2px solid transparent;
}
.cl_acc:hover{
  box-shadow:0 10px 30px #ccc;
}
#CollectionAjaxContent .medium-up--one-fifth{
  width:21%;
}
#CollectionAjaxContent .medium-up--four-fifths{
  width:79%;
  padding-left:85px;
}
.cl_acc > form{
  position: absolute;
width: 100%;
bottom: -57px;
  transition: all .5s ease-out 0s;
}
.cl_acc .grid-product__link {
  padding-bottom: 25px;
  transition: all .5s ease-out 0s;
}
.cl_acc:hover > form{
  bottom: 0;
}
.template-collection .breadcrumb {
  margin: 0;
}
.collection-filter__item {
  margin-bottom: 0;
}
.cl_acc:hover .grid-product__link {
  margin-top:-35px;
}
.cl_acc .payment-buttons .btn[disabled]{
  background:#f6f6f6 !important;
}
.tag__checkbox::after {
  height: 8px;
  width: 8px;
  left: 4px;
  border-radius: 50%;
}
.tag-list--active-tags{
  display:none;
}
.tag__checkbox::before {
    border-radius: 50%;
}
.color-swatch--small {
  width: 45px;
  height: 35px;
}
 
.collapsible-trigger-btn {
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #f4f4f4;
padding-bottom: 10px;
margin-bottom: 12px;
  position: relative;
}
.collapsible-trigger-btn:after{
  display:block;
  content:"";
  height:2px;
  background:#181b1e;
  width:60px;
  position: absolute;
bottom: -2px;
}
.tag-list label:hover {
  text-decoration: none;
}
.col_acc-nav{
  padding: 30px 0;
background: #faf9f5;
}
.col_acc-left{
  display: flex;
align-items: center;
}
.col_acc-left h3{
  margin:0;
  font-size:30px;
}
.col_acc-left ul{
  list-style: none;
margin: 0 0 0 20px;
display: flex;
}
.col_acc-left ul li a{
  padding:5px 20px;
  border-radius:20px;
}
.col_acc-left ul li.active a{
  background:#1f2529;
  color:#fff;
}
.col_acc-nav .page-width{
  display: flex;
justify-content: space-between;
align-items: center;
}
.collection-grid__wrapper .collection-filter{
  display:none;
}
.c_ebike .collection-grid__wrapper .collection-filter{
  display:none;
  margin-bottom: 20px;
}
.c_ebike .collection-grid__wrapper .collection-filter__item--count {
  text-align: left;
  opacity: 0;
}
.pq_list{
  display: flex;
/*     align-items: center; */
    justify-content: space-between;
}
.pq_list .product__quantity{
  width:30%;
}
.pq_list .btn{
  width:67%; transition:all 0.3s ease;
  background: #1f2529;
    color: #fff;
    border: 0;
  border-radius: 5px;
}
.pq_list .btn:hover{background:#ffaf4f}
.js-qty__wrapper {
    max-width: 100%;
}
.js-qty__num {
    padding: 12px 20px;
}
.free-gifts{
	background: #f9f8f4;
padding: 15px 15px 5px;
    border-radius: 5px;
  margin-bottom:20px;
}
.free-gifts_title h3{
	color:#333;
  margin-bottom:5px;
  font-size: 16px; font-family:"Century Gothic",sans-serif!important;
}
.free-gifts_lists{
	display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
}
.product_gift_free{
    font-size: 12px;
    color: #fff;
    background: #EB9C28;
    display: inline-block;
    padding: 0 5px;
  position: absolute;
    right: 0;
    bottom: 0;
}
.gifts_item{
	width:48%;
  padding: 10px;
  background: #fff;
    margin: 10px 0;
  position: relative;
}
.gifts_item a{
  display: flex;
  align-items: center;
  width:100%;
}
.gifts_item .gift_img{
	width:35%;
}
.gifts_item .gift_info{
	width:65%;
  padding-left:5px;
}
.product-block .add-compare{
  display:none;
}
.pro_upsell h4,
.pro_discount h4,
.variant__label[for] {
  display: block;
  margin-bottom: 10px;
  cursor: default;
  text-transform: capitalize !important;
letter-spacing: 0 !important;
font-size: 20px !important;
  font-weight: bold;
}
.variant__label[for]{font-size: 16px !important;}
#launchtip_upsell_select_wrapper a {
  font-size: 22px;
}
.product-single__meta .product__price {
  font-size: 30px;
  font-weight: bold;
  color:#ff0000;
}
.product-single__meta .product__price--compare {
  font-size: 18px;
  color: #777;
  font-weight: normal;
}
.product-single__meta .product__price-savings {
  font-size: 18px;
  color: #ff981c;
}
.dis_info{
  display: flex; align-items:center;  justify-content:space-between;
background: #ffaf4f;
  font-size: 20px;
color: #fff;
  width: 80%;  padding-right:12px;
border-radius: 5px;
overflow: hidden;
}
.dis_info .dis_text{
  width: 67%;
background: #ffaf4f;
padding: 14px 20px;
}
.dis_info .dis_code{
  width:120px; height:36px;  line-height:1;
 background: #e37c00;
padding: 8px 14px; font-size:16px;
  border-radius:18px;
text-align: center;
  cursor: pointer;
}
.product-single__meta .custom_text ul{
  list-style:none;
  padding:0;
  margin:0;
  font-size: 16px;
}
.product-single__meta .custom_text ul li{
  padding-left:28px;
  background:url(https://cdn.shopify.com/s/files/1/0729/0660/4818/files/g.png?v=1679749090) 0 0px no-repeat;
}
.product-single__meta .custom_text ul li strong{
  color:#ff981c;
}
.que_title{
  display: inline-block;
  padding: 7px 15px;
  background: #1f2529;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
.que_title i{
  margin-right:10px;
}
.que_text{
  width: 80%;
  cursor: pointer;  font-size:14px;
}
.que_text ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
.que_text ul li{margin-right:2em;  font-weight:bold;}
.que_text p{
  font-size:14px;
  color:#666;
}
.iw-list{
  background: #faf9f5;
padding: 50px 0;
}
.iw-list .iw_items{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}
.iw-list span{
  width: 1px;
background: #e8e8e8;
  height: 130px;
  transform: rotate(15deg);
}
.iw-list span:last-child{
  display:none;
}
.iw-list .iw_item{
  text-align:center;
}
.iw-list .iw_item .iw_img{
  width: 100px;
  margin: 0 auto 15px;
  height: 100px;
  background: #ff981c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 10px solid #fbefdf;
}
.iw-list .iw_item img {
  display: block;
  width:35px;
  margin: 0 auto;
}
.spec_slider{
  position: relative;
}
.spec_info .spec_content{
  width:56%;
  padding-right:50px;
  float: left;
}
.spec_info .spec_slider{
  width:44%;
  float: left;
  top:63px
}
.spec_info:after{
  content:"";
  display:block;
  clear:both;
}
.spec_content p{
  font-size:24px !important;
  line-height: 40px;
}
.spec_content{
  padding-top:80px;
}
.spec_content h2{
  margin-bottom:30px;
}
.spec_content > a{
  display: inline-block;
margin: 120px 0 150px;
  background: #ff981c;
color: #fff;
padding: 10px 30px;
border-radius: 30px;
}
.spec_content .hc_spec {
  max-width: 90%;
  display: flex; 
  align-items:flex-start;
  justify-content:space-between;
    text-align:center;
  flex-wrap:wrap;
}
.spec_content .hc_spec .hcs_item {
  display: block;
  width:calc(33.33333% - 15px);
  margin-right:15px;
  margin-bottom:50px;
}
.spec_content .hc_spec img{
  display:block;
  max-height:45px;
  margin:0 auto 15px;
}

.spec_content  .hcs_item .hcs_img{
 margin-left:auto; margin-right:auto;
}
.spec-list .hcs_text .hcs_info b {
  font-size: 26px;
}
.spec_slider .swiper-button-next, 
.spec_slider .swiper-button-prev{
  width:50px;
  height:50px;
  border-radius:50%;
  background:rgba(196,196,196,0.5);
  transition:all 0.3s ease;
 
  }

.spec_slider .swiper-button-next:hover, 
.spec_slider .swiper-button-prev:hover{
    background:#ff981c;
}
.spec_slider svg{
  height: 25px;
width: 25px;
}
.spec_slider svg path{
  fill: #fff;
}
.spec-list{
  padding:120px 0;
}
 
.remove-compare{
  display:none;
}
 
.pr_bg .section-header,
.pab_wrapper .section-header{
  width:85%;
}

.pab_wrapper p{
  font-size:20px;
  color:#666;
}
.pab-list{
  display: flex;
  margin: 100px 0 100px;
  max-width:1000px;
  flex-wrap: wrap;
}
.pab-list .pab_item{
  padding: 0 60px;
  width:33%;
  border-left:1px solid #999;
}
.pab-list .pab_item:first-child{
  padding-left:0;
  border-left:0;
}
.pab_wrapper{
  padding: 120px 0;
  background:linear-gradient(to bottom, #faf9f5, #fff);
}
.pm-list .pm_item{
  margin:50px 0 0;
  display: flex;
  align-items: center;
}
.pm-list .pm_item:nth-child(2n-1) .pm_text{
  order:1;
  display: flex;
  flex-wrap: wrap;
}
.pm-list .pm_item:nth-child(2n-1) .pm_text .pm_info{
  padding-right:50px;
  width:50%;
  margin: 30px 0;
}
.pm_text .pm_info h3{
  padding-bottom: 20px;
border-bottom: 1px solid #e4e3e0;
margin-bottom: 20px;
  position:relative;
}
.pm_text .pm_info span{
  display:block;
  color:#999;
}
.pm_text .pm_info h3:after{
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:35%;
  background:#ff981c;
  bottom: -1px;
}
.pm-list .pm_item > div{
  width:50%;
}
.pm-list .pm_item:nth-child(2n-1) .pm_image{
  order:2;
  padding-left: 50px;
}
.pm-list .pm_item:nth-child(2n) .pm_text h2{
  font-size: 52px; line-height:1.2;
}
.pm-list .pm_item:nth-child(2n) .pm_text{
  padding: 0 50px;
max-width: 700px;
}
.pr_bg{
  padding:120px 0;
}
.pr_item{
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.pr_text_left{
  width: 42%;
padding-right: 150px;
  padding-left: 50px;
border-left: 3px solid #e8e9e9;
}
.pr_text_right{
  width: 58%;
}
.pr_info h3{
  font-size:30px;
  cursor: pointer;
}
.pr_info{
  margin-bottom:50px;
  position:relative;
  opacity: 0.5;
  transition: all .5s ease-out 0s;
}
.pr_info:last-child{
  margin-bottom:0;
}
.pr_info p{
  color:#666;
  margin: 0 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-out 0s;
}
.pr_info.active p{
   max-height: 300px; 
}
.pr_info.active{
  opacity: 1;
}
.pr_info:after{
  display:black;
  content:"";
  width:3px;
  height:0;
  position:absolute;
  top:0;
  left:-53px;
  background:#ff981c;
  transition: all .5s ease-out 0s;
}
.active:after{
  height:100%;
}
.pr_text_right .pr_img{
  display:none;
}
.pr_text_right .pr_img:first-child{
  display:block;
}
.da_image{margin-bottom:20px; }
.da_image img{object-fit:cover;}
@media(min-width:769px){
 .da_image{  min-height:310px;} 
}
.pds_bg {
  padding: 90px 0  60px;
  background: linear-gradient(to bottom,#faf9f5,#fff);
}
.pds_bg h2{
  font-size:36px; margin-bottom:10px;
}
.pds_bg p{
  font-size:21px;
  color:#666;
 /* min-height: 185px;*/
margin-bottom: 20px;
}
.pds_bg .nav-bottom{
  position: relative;
bottom: auto;
width: 100%;
left: auto;
  margin-top:50px;
  justify-content: space-between;
padding: 0;
}
.pds_bg .swiper-scrollbar{
  width: 90%;
  margin-left:0;
}
.pds_bg .swiper-button-next, 
.pds_bg .swiper-button-prev{
  position: relative;
  top: auto;
  left: auto;
  right:auto;
  width: 44px;
background: #292b2c;
border-radius: 50%;
  margin: 0;
}
.pds_bg svg path{
  fill:#fff;
}
.pds_bg svg {
  width: 20px;
height: 20px;
}
.template-product div[data-context="featured-collection"]{
  background:#faf9f5;
  padding:100px 0 60px;
}
.template-product .cl_add {
  background: #fff;
}
.template-product main > div:last-child{
  margin-bottom:0;
}
.tab_content ul{
  list-style:none;
  margin:0 -40px 0 -10px;
  padding:0;
  display:flex;
  flex-wrap:wrap;
}
.size_bg .tab_content ul{
  margin-right:-30px;
}
.tab_content ul li{
  width:calc(25% - 30px);
  border-bottom: 2px solid #dedfdf;  
  margin-bottom: 10px;
  margin-right:30px;
  padding:0 30px;
 
}
.tab_content{
  background: #f4f4f4;
padding: 15px 40px 25px;
  display: none;
}
.active .tab_content{
  display: block;
}
.tab_cpanel h2{
  margin:0;
  padding:35px;
  box-shadow:0 0 10px #ccc;
  border-radius:5px;
  font-size: 30px;
  cursor:pointer;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.tab_cpanel h2:after{
  content: "\f067";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
}
.active h2:after{
  content: "\f068";
}
.tab_content .spec_info {
  padding: 25px 0 15px;

}
.spec_info p{
  margin:0;
  font-size:14px;
  color:#999;
  min-height: 20px;
}
.spec_info h3{
  font-size:24px;
  margin-bottom: 5px;
margin-top: 10px;
}
.active h2{
  background:#1f2529;
  color:#fff;
}
.size_bg .tab_content ul{
  margin-left:0px;
}
.size_bg .tab_content li{
  margin-bottom:20px;
  padding:15px 0;
}
 
.tab_content .size_info{
  display: flex;
justify-content: space-between;
 
}
.si_name {display:flex; justify-content:space-between;}
.size_bg .si_text{line-height:25px;}
.si_name span.num{
 flex-shrink:0;
width: 25px;
height: 25px;
margin-right:6px;
text-align: center;
line-height: 25px;
border-radius: 50%;
background: #f3921d;
color: #fff;
}
.tab_content picture{
  margin-bottom: 30px;
display: block;
  margin-top: 25px;
}
.tab_cpanel{
  margin-bottom:40px;
}
.box_bg .tab_content ul{
justify-content: flex-start;
text-align: center;
margin: 0;
}
.box_bg .tab_content ul li{
  width:calc(20% - 30px);
  display: flex;
align-items: flex-start;
  padding: 10px 15px;
  
  text-align:left;
  border-bottom-width:1px;
}
.box_bg .tab_content ul li:before{
  content:"";
  width:10px;
  height:10px;
  border-radius:50%;
  background:#c9cbcb;
  display:block;
  margin-right:10px;
  margin-top:6px;
  flex-shrink:0;
}
.collapsible-trigger span:last-child{
  font-weight:bold; font-size:1.1em;
}
.iw_item h4{
  font-size: 24px;
letter-spacing: 0;
font-weight: normal;
margin-bottom: 0;
}
 
.p_nav ul{
  list-style: none;
  display: flex;
  padding-top:10px;
  margin: 0;
}
.p_nav ul li{
  width:33.333%;
  margin: 0;
}
.p_nav ul li a{
  display:block;
  font-size:32px;
  text-align:center;
  color:#999;
  padding-bottom: 15px;
border-bottom: 2px solid #e8e9e9;
  transition: all .5s ease-out 0s;
}
.p_nav ul li.active a{
  color:#ff981c;
  font-weight:bold;
  border-bottom: 2px solid #ff981c;
}
.nav_fixed{
  margin-top: 80px;
}
.scroll-to-fixed-fixed{
  margin-top:0 !important;
  background: #fff;
  padding: 10px 0 0px;
  z-index: 10 !important;
}
.scroll-to-fixed-fixed .p_nav ul li a {
  display: block;
  font-size: 24px;
}
.pro_short{
  font-size: 24px;
color: #666;
}
.product-single__title {
  font-size: 36px; margin-bottom:0px!important;
}
.template-product .product-single__meta .jdgm-prev-badge{
  margin-bottom:18px!important; margin-top:-10px;
}
.template-product .product-single__meta .jdgm-widget.jdgm-widget{margin-top:-15px;}
.pacc_info{
  display:flex;
  margin: 0 -18px;
}
.pacc_info > div{
  width: 96%;
  padding:0 20px;
}
.pacc_info .pacc_right{display:none;}

.jdgm-prev-badge {
  display: block !important;
  font-size: 14px;
  margin-top: 5px !important;
}
.pro_acc{
  padding: 80px 0 40px;
  background: linear-gradient(to bottom,#faf9f5,#fff);
}
.pacc_text{
  
padding: 60px 40px 40px;
border-radius: 10px;
box-shadow: 0 0 20px #f1f1f1;
  background:#fff url(https://cdn.shopify.com/s/files/1/0729/0660/4818/files/right_top.png?v=1679923167) no-repeat top right;
}
.pacc_text h2{
  margin-bottom:50px;
}
.pacc_text ul li,
.pacc_text p{
  color:#666;
}
.pacc_text ul li{margin-bottom:12px;}
.template-product .newsletter-container{
  display:none;
}
.pib_list{
  display: flex;
justify-content: space-between;
  margin-top:0px;
  align-items: center;
}
.pib_list span{
  width: 1px;
background: #e8e8e8;
height: 45px;
}
.pib_list h4{
  margin-bottom:0;
  font-size:16px;
  letter-spacing: 0;
}
.pib_item{
  display: flex;
align-items: center;
}
.pib_icon img{
  margin:0 auto;
}
.pib_list .pib_icon{
  margin-right: 15px;
width: 55px;
height: 55px;
display: flex;
align-items: center;
text-align: center;
border: 1px solid #1f2529;
border-radius: 50%;
}
.article__grid-image img {
   min-height:520px;
}
.pad_two .pm_info h2,
.pab_one h2{
  padding-bottom:20px;
  position: relative;
  font-size:52px;
}
.pad_two .pm_info h2:after,
.pab_one h2:after{
  content:"";
  width:50px;
  height:2px;
  background:#ff981c;
  display:block;
  position: absolute;
bottom: 0;
}
.pi_title h4{
text-transform: capitalize !important;
letter-spacing: 0 !important;
font-size: 18px;
font-weight: 700;
  width: 100%;
  margin: 0;
}
.pi_title{
  width:27%;
}
.payment_icon{
  display: flex;
align-items: flex-start;
justify-content: space-between;
}
.payment_icon .pay_icon_list{
  width: 73%;
}
.pay_icon_list .payment-icons li:first-child{
  margin-left:0;
}
.pay_icon_list .payment-icons {
  width: 100%;
}
[data-center-text="true"] .pay_icon_list .payment-icons {
  text-align: left !important;
}
.coll_top .breadcrumb{
  position:absolute;
  bottom:30px;
}
.coll_top .page-width{
  display: flex;
align-items: center;
  height: 100%;
  position: relative;
}
.coll_top .breadcrumb a{
  color:#fff;
}
.collection-hero__content .breadcrumb{
  position:absolute;
  bottom:0;
}
.collection-hero__content .section-header__shadow{
  width: 100%;
height: 100%;
display: flex;
align-items: center;
}
.collection-hero__content .section-header__shadow h1{
  width:100%;
}
.collection-hero__content .page-width {
  width: 100%;
  height: 100%;
}
.collection-hero__content .section-header {
  height: 100%;
}
.template-product .breadcrumb {
  margin-top: 10px;
  display: none;
}

.page-user{padding-top:50px; max-width:900px; margin:0 auto;}
.page-width--tiny{max-width:900px; margin:0 auto;}

.modal-open .modal--solid:before{background:rgba(0,0,0,0.8)}
.site-nav__link--underline{padding-left:15px; padding-right:15px; margin-left:15px; margin-right:15px;}
.site-footer__linklist a:hover{text-decoration:underline;}
.color-swatch--small{width:25px; height:25px;}
.icon_text{padding-top:4px;}
.desktop--hide{display:none;}
.template-product .newsletter-container{display:block;}
.coll_top{background-size:cover!important; background-repeat:no-repeat; background-position:center center!important;}
.payment-buttons .shopify-payment-button__button--unbranded{border-radius:5px!important; text-transform:capitalize; font-size:16px; letter-spacing:0.05em;}
.product-single__meta{text-align:left;}
.product-single__meta .custom_text ul li{padding-bottom:8px;  line-height:1.3;}
.que_text{width:100%;}
.site-nav__icons img{max-width:21px; margin:0 5px;}
.nav-bottom{bottom:60px;}
.swiper-scrollbar{height:2px;}
.rl_item p{font-size:24px;}
@media(min-width:768px) and (max-width:980px){
 .rl_item p{ overflow:hidden;
display:-webkit-box;
-webkit-line-clamp:7;
-webkit-box-orient:vertical;
word-break:break-all;
}
}
.dis_info{width:100%;}
.dis_info i{font-style:normal; margin:0; padding:0;}
.dis_info .dis_text{font-size:0.9em;}
.dis_info .dis_text span:last-child{font-size:0.9em; margin-left:10px;}
.cl_add .grid-product__image-mask{padding:30px;}
.scroll-to-fixed-fixed{top:50px!important; padding-top:15px;}
.ico_quote{position:relative; left:-2px; top:4px; display:inline-block; max-width:36px; margin-right:12px;}
 .art_icon svg{width:36px; height:36px;}
.other_info h3{font-size:30px; line-height:1.2;}
.section-header--with-link .btn span:first-child { max-height:24px;}
.payment-buttons .shopify-payment-button__button--unbranded{min-height:45px;}
#contact-us .main-content{
 /* background:#faf9f5;*/ 
  background-image: linear-gradient(#faf9f5,#ffffff);
}
.home_custom .grid-product__image-mask{
  max-width:950px; margin:0 auto;
}
  
.home_custom h2, h2, .h2 {
  font-size:45px; line-height:1.2; margin-bottom:30px;
}
.home_custom h2{margin-bottom:10px;}
.home_custom .hc_top p{margin-bottom:25px;}
.product-single__title{font-size:42px;}
.hero__title{margin-bottom:34px;}
.rl_text .author{font-weight:bold; font-size:1.1em;}
.template-page .icon-list{
  border:none;
  padding:50px 0;
   box-shadow:0px 0px 10px rgba(100,100,100,0.1);
}
.template-page .block-side{
  margin-bottom:30px;
}
.template-page .block-side h3{
  
}
.contact-ico-list .text-with-icons__block{
 padding:0;
}
.contact-ico-list .content-wrapper{
  border-top-left-radius:8px;  border-top-right-radius:8px;
  border-bottom:4px solid #e8e9e9; background:#fff;
  box-shadow:0px 10px 25px rgba(100,100,100,0.3);
  height:100%;  margin:20px;  padding:40px;
  display:flex; flex-direction:column; align-items:center; justify-content:center;
   transition:all 0.3s ease;
}
.contact-ico-list .text-with-icons__block:hover .content-wrapper{
  border-bottom:4px solid #e58c20;  
   box-shadow:4px 6px 20px rgba(100,100,100,0.5);
}
.contact-ico-list .text-with-icons__block-icon .ico-wrapper{
  width:100px; height:100px; border-radius:50px; background:#f7f7f7; text-align:center; line-height:100px; margin:0 auto;transition:all 0.3s ease; display:flex; align-items:center; justify-content:center;
}
.contact-ico-list .text-with-icons__block:hover .ico-wrapper{
  background:#e58c20; 
}
.contact-ico-list .text-with-icons__block:hover .ico-wrapper path{
  fill:#fff!important;
}

.contact-ico-list .text-with-icons__block:hover .icon .a{
  stroke:#fff!important;
}
.contact-ico-list h3{
  font-size:24px;
}
.contact-ico-list .text-with-icons__block-text{
  font-size:16px; color:#666;
}
.contact-ico-list  .social-icons{
  display:flex; justify-content:center;
}
.contact-ico-list  .social-icons li{
  margin:0 12px;
}
.contact-ico-list .footer__item-padding{
  padding:0;
}
.text-with-icons__block-link a{
  text-decoration:underline;
}
.form-content{
  display:flex;
}
.form-content .form-vertical{
 flex-basis:65%;  text-align:left!important;
}
.form-content .form-vertical .section-header{
  margin-bottom:50px;
}
.form-content .form-side{
  flex-basis:30%; margin-left:5%;
}
.form-content .form-side h3{
  font-size:24px;
}
.form-content .form-side .btn{
  background:#000;
}
.blog-list {display:flex; flex-wrap:wrap; justify-content:space-between;}
.blog-list .grid__item{margin-bottom:4px; width:33.33333%;}
.blog-list .article-highlight-slider{
     width: 66.66666%;   
    }
.blog-list .article-highlight-slider .article__grid-image{border:none;}
 .article-highlight-slider .image-wrap{   opacity:1; }
 .article-highlight-slider .other_info {padding-right:1.5em;}
 .article-highlight-slider .image-wrap  .grid__image-ratio--square:before{
  padding-bottom:calc(50% - 8px)!important;
  }
.template-article .hbs_slider .image-wrap{min-height:400px; background:#e8e8e8;}
.template-article .hbs_slider .image-wrap img{object-fit:cover!important;}
.article-highlight-slider .other_info{width:100%; }
.swiper-container .fa-angle-left, .swiper-container .fa-angle-right{font-size:2em; color:#fff; font-weight:300;}
.article-content {
  display:flex; justify-content:space-between; padding:50px 0;
}
.article-content .article-side{width:32%}
.article-content .article{width:65%;} 
.side-block{margin-bottom:30px;}
.side-block h3{font-size:1.2em;}
.article-return-link span:first-child{display:inline-block; position:relative;  top:4px; margin-right:10px;}
.socail-media .icon__fallback-text{position:static; padding-left:4px;  color:#666;}
.social-media .social-icons li{margin-bottom:15px;}

.article-newsletter .input-group{
  display:block; max-width:100%;
}
.article-newsletter .btn {
  padding: 15px 40px;
  letter-spacing: 0.1em;
  display:flex; 
  background-color:#000;
  border-radius:30px!important;
  max-width:200px;
  margin-top:25px;
}
.article-newsletter .newsletter__input {
  padding-left: 10px;
  padding-right: 10px;
  border:none;
  border-bottom: 1px solid #ccc;
  color: #666;
  background-color: #fff;
  width:100%; max-width:100%;
  display:block;
}
.article-newsletter input::placeholder {
  color: #999;
}
.article-social-share .social-sharing{text-align:left!important;}
.article-social-share a{display:block; margin-bottom:12px;}

.tab_lists-faq ul{
  display:flex; justify-content:center; text-align:center; list-style:none;
}
.tab_lists-faq ul li{
  margin:0 20px; cursor:pointer; 
  background:#f4f4f4; padding:10px 30px; 
  border-radius:25px;
  
}
.tab_lists-faq ul li.active{
  background:#191b1e; color:#fff;
}
.collapsible-trigger--inline{
  width:100%; padding:11px 20px 11px 0px; border-bottom:1px solid #f2f2f2;
}
.collapsible-trigger--inline .collapsible-trigger__icon{
  right:0px; left:auto;
}
.rte.collapsible-content__inner--faq{
  padding-top:12px;
}
.variant-input-wrap label{font-size:14px;}
.ts_item > div{
  padding:10px; /*box-shadow:0 0 12px rgba(100,100,100,0.3);*/
    margin-bottom:20px;          
  }

.ts_item .collapsible-trigger__icon--circle{border:none!important;}
.ts_item .collapsible-trigger span{font-size:1.2em; font-weight:bold;}
/* newsletter */
.newsletter-section .newsletter-wrap{
  box-shadow:0 15px 30px rgba(178,132,75,0.2);
    padding: 0 60px 0 30px;
    border-radius: 30px;
}

.newsletter-section .theme-block:first-child {
  margin-bottom: 10px !important;
}
.newsletter-section .btn {
  border-radius: 30px!important;
  padding: 15px 30px;
  letter-spacing: 0.05em;
  margin-left: -45px;
  display: flex;
}
.newsletter-section .newsletter__input {
  margin-left: -50px;
  min-width: 400px;
  border-radius: 30px!important;
  padding-left: 60px;
  padding-right: 60px;
  border-top: 1px solid #fee9ca;
  border-left: 1px solid #fee9ca;
  border-bottom: none;
  color: #666;
  background-color: #fff!important;
}
.newsletter-section .fa-angle-right{font-size:1.2em;}
.newsletter-section input::placeholder {
  color: #999!important;
}
.newsletter-section .newsletter__input{  background:url("https://cdn.shopify.com/s/files/1/0729/0660/4818/files/ico_mail.png?v=1679037776") no-repeat 22px center;
                  }
/* footer */
  .site-footer img{max-width:200px; margin-bottom:30px;}
  .site-footer .icon__fallback-text{position:static; padding-left:4px; color:#98999b; transition:all 0.3s ease;}
  .site-footer .social-icons li{margin-bottom:15px;}
 .site-footer .social-icons li svg path{fill:#98999b;}
.site-footer .social-icons li:hover .icon__fallback-text{color:#fff;}
.site-footer .social-icons li:hover svg path{fill:#ffffff;}
 .footer-bottom{
   padding:30px 0 10px; border-top:1px solid #484e53; margin-top:50px;  display:flex; align-items:center; justify-content:space-between;
 }
.site-footer .grid__item:nth-child(1) strong{
  font-weight:400; color:#ccc; display:inline-block; margin-right:10px;
}
 .footer-copyright{color:#9d9fa1; }
 .payment-icons{width:50%; }
  [data-center-text=true] .payment-icons{text-align:right!important;}
 .footer-policy-link a{display:inline-block; margin:0 20px; padding:0 10px; position:relative;}
 .footer__title{color:#9d9fa1; margin-bottom:30px; font-weight:bold;}
.site-footer__linklist:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    margin: 0 15px;
    border-bottom: 1px solid; 
    border-bottom-color: #fff;
    transition: right .5s;  
}
.site-footer li:hover .site-footer__linklist:after {
  right:0;
}
.cart__item-row div:last-child{font-weight:bold; font-size:1.1em;}
.cart__image img{object-fit:contain;}
.add-to-cart svg{max-width:19px; margin-right:4px; height:auto; position:relative; top:3px;  }
.g-recaptcha{margin-bottom:15px;}
.collection-filter__sort-container{background:transparent!important;}
.collection-filter__item--sort select{border-radius:20px; background-image:#FFF; padding:5px 22px;}
#RecoverPasswordForm h2{margin-bottom:15px; font-size:30px;}
#HideRecoverPasswordLink{text-decoration:underline;}
#HideRecoverPasswordLink:hover{color:#ff981c;}
.pro_upsell{display:none;}
.pay_icon_list img{max-height:22px; width:auto;}
.template-product .shopify-app-block .jdgm-widget.jdgm-widget {
  display: block;
  padding-top: 60px;
}
.pds_bg h2{font-size:28px;}
#SP_CmpHtml{padding-top:30px; padding-bottom:40px;}
.sa_cmp_title{font-size:1.2em; font-weight:bold;}
.SPCMP_chk_lbl {    border-radius:35px!important;  margin-bottom:0;
     background: #333; display:flex!important; align-items:center!important; margin-left:2em;
    padding:7px 30px 7px 25px;   background: #fff; border:2px solid #333;
    transition: all .3s ease;}
.SPCMP_chk_lbl .SPCMP_Add_span{font-size: 21px!important; letter-spacing:0.05em!important; text-transform:capitalize!important; font-weight: 700!important;   }
input.SPCMP_Add{width:16px!important;; height:16px!important;}
#sa_ca_wrapper .ca_flap{padding:8px 15px!important;}
#sa_ca_wrapper .ca_flap .SP_CA_Count{font-size:13px!important;}
#sa_ca_wrapper .ca_left .ca_flap {
margin-left:-2px;
}
#sa_ca_wrapper .ca_left a.sa_ca_ptitle{font-size:13px!important; line-height:1.2!important; font-weight:600; margin-bottom:6px;}
#sa_ca_wrapper .ca_left .sa_ca_content .close .SP_triangle,#sa_ca_wrapper .ca_left .ca_flap .SP_triangle {
border-width: 6px 6px 6px 0 !important;
}
#sa_ca_wrapper .sa_ca_item .sa_ca_summary a, #sa_ca_wrapper .sa_ca_item .sa_ca_summary a span{font-size:12px!important;}
.sp_compare_tbl .sp_image_block .compare-image-slider{border:none!important; background-color:#fff!important;}
span.hide-diff-span{letter-spacing:0.1em!important;}
.sp_compare_tbl *{font-size:15px!important;}
.image-move{box-shadow:none!important;}
.sp_compare_tbl .sp_product .sp_product_con li span{display:none;}
.sp_compare_tbl .sp_product .sp_product_con li span.money {display:inline-block; font-weight:bold;}
.sa_cmp_discount{display:inline-block!important; }
.sp_product_heading li{text-transform:capitalize!important;}
.sp_add_to_cart{display:none}
@media(max-width:1024px){
  .SPCMP_chk_lbl{margin-left:1em;}
.SPCMP_chk_lbl .SPCMP_Add_span {    font-size: 16px!important;}
  .sp_product_heading li{font-size:13px!important; line-height:1.2!important;;}
}
#accessories .SPCMP_chk_lbl{display:none!important;}
 .jdgm-rev-widg{margin-top:-30px!important; padding-bottom:0!important;}
.product__thumb-item{border:1px solid #e8e8e8;}

.pro_short{padding-top:10px; border-bottom: 2px solid #dedede; position:relative; margin-bottom:25px;}
.pro_short:after{
          display: block;   content: "";    height: 2px;    background: #181b1e;    width: 25%;    position: absolute;    bottom: -2px;
    transition: all .5s cubic-bezier(0,.64,.36,1);
}
 
                  